div.tvs {
  background: rgba(26 ,25, 26,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

div#img {
  height: 600px;
  width: 500px;
  cursor: pointer;
}

.tv {
  z-index: 1;
  position: absolute;
}
