.Icon {
  /* Allows sizing by changing the icon’s font-size */
  width: 3em; height: 3em;
  /* Nice visual alignment for icons alongside text */
  vertical-align: -0.15em;
  /* Default path fill = value of the color property */
  fill: rgb(136,14,79) ;
  /* Paths and strokes that overflow the viewBox can show in IE.
     If you use normalize.css, it already sets this. */
  overflow: hidden;
  position:relative;
  margin-left: 27px;
}

.Iconx {
  /* Allows sizing by changing the icon’s font-size */
  width: 6em; height: 10em;
  /* Nice visual alignment for icons alongside text */
  vertical-align: -0.15em;
  /* Default path fill = value of the color property */
  fill: #F00 ;
  /* Paths and strokes that overflow the viewBox can show in IE.
     If you use normalize.css, it already sets this. */
  overflow: hidden;
  position:relative;
  margin-left: 1.5em;
  margin-right: 1rem;
  float: left;
}

.Icon--house, .Icon--compu, .Icon--tel, .Icon--47 {
  stroke: none;
}

.Icon--neven, .Icon--play {
  stroke: darkslategray;
  stroke-width: 1%;
  stroke-linejoin: round;
  fill:none;
}

.Icon--content {
  stroke: #fffff8;
  stroke-width: 1%;
  stroke-linejoin: round;
  fill: darkslategray;
}

.Icon--content:hover {
  fill: #aaa;
}

.Icon--fer {
  stroke:  rgba(255, 255, 248, 0.3);
  stroke-width: 1%;
  stroke-linejoin: round;
}

a.icons {
  border-bottom: none !important;
  width: 28px;
  height: 14px;
  margin: 3px 0 0 -30px;
  padding: 0;
  clear: both;
}
