.article-mag-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  color: #1a1a1a;
}

.article-mag-header{
  text-align: center;
}


@media only screen and (max-width:550px){
.article-mag-hide {display:none;
  }
}


@media (max-width: 520px) {
  .article-header h2 {
    font-size: 1.2rem;
  }
}

.classification-header {
  text-transform: uppercase;
  color: red;
  letter-spacing: 0.1rem;
}

.intro-ps {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  margin: 0 0 2rem 0;
}
.intro-ps > p:first-child {
  text-indent: 0;
}
.intro-ps > p:first-child strong {
  font-size: 125%;
  letter-spacing: -1px;
  line-height: 0;
}
@media (max-width: 520px) {
  .intro-ps {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}

.in-brief {
  text-align: center;
  margin: 0 0 2rem 0;
}
.in-brief h3 {
  text-transform: uppercase;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: inline-block;
  padding: 0 20px;
  color: #999;
  letter-spacing: 0.2rem;
  font-size: 80%;
  margin: 0;
  background: white;
  position: relative;
  top: 1px;
}

.in-brief-content {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  font-size: 0.8rem;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
}
@media (max-width: 520px) {
  .in-brief-content {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}


.article-mag-header {
  padding: 0 20px;
  margin: 0 0 30px 0;
}

.byline {
  font-size: 2.5em;
  color:#aaa;
}

.article-mag-body {
  font-size: 0.9rem;
  max-width: 500px;
  margin: 0 auto;
}
.article-mag-body h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.centro {
  text-align: center;
}

.leftie{
  text-align: left;
  font-size: 1rem;
}
