---
layout: default
title: MAC | Musimuestras
nav-area: home
---
<div class=site-section-head>
    <section>
        <article class="breaking">
          {% assign post = site.posts.first %}
          {% assign content = post.content %}

          {% if post.image %}
          <img src="{{ post.image }}" alt="Fotografía de {{ post.title }}">
          {% endif %}

            <h1><a class="no-hov" href="{{post.url}}">{{ post.title }}</a></h1>
            <h2>{{ post.comment }}</h2>
            {{ post.excerpt }}
            <p><i class="fa fa-arrow-circle-right"></i> <a href="{{post.url}}">{{ post.ffw }}</a></p>
          </article>

          {% for post in site.posts offset: 1 limit: 2 %}
        <article>
          {% if post.image %}
          <img src="{{ post.image }}" alt="Fotografía de {{ post.title }}">
          {% endif %}

            <h1><a class="no-hov" href="{{post.url}}">{{ post.title }}</a></h1>
            <h2>{{ post.comment }}</h2>
            {{ post.excerpt }}
            <p><i class="fa fa-arrow-circle-o-right"></i> <a href="{{post.url}}">{{ post.ffw }}</a></p>
        </article>
            {% endfor %}
        </section>
</div><!-- End site section-head -->


<div class="site-section site-section-video">
  <h2>VIDEO PROMOCIONAL
  </h2>
  <div class="content">
    <div class="flex-embed">
      <a href="https://www.youtube.com/embed/D9SyB6uPY7c?autoplay=1&amp;vq=hd720" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Introduction to HTML5 Boilerplate v5">
        <img src=img/afiche.jpg width=480 height=360 alt="video thumbnail">
        <div class=play-btn>
        </div>
      </a>
    </div>
    <div class=cta-option>
      <a class="btn btn-download" href="https://www.youtube.com/watch?v=WkLO-q2wC80&amp;index=2&amp;list=PLdWHXDIdpitG0Ttvat9G5wJoqaU9cQvHh" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Video playlist">
        <strong>YouTube
        </strong>
        <span class=version>Musimuestras
        </span>
      </a>
    </div>

  </div>
</div>
