
<div id="week" class="site-section site-section-video noise">
  	<h2 style="margin:0 !important; padding:0 !important;color:rgba(34,102,145,0.6)" class="league-four">ESTA SEMANA<br /> en el Museo Municipal de Guayaquil</h2>
    <br/>

{% assign capsulas = site.capsulas | sort: 'listing-priority' %}

{% for capsulas in capsulas limit: 2 %}
  <section>

  <div class="row leftie" style="margin-top:2em;">
  <div class="col col-5 ">
  <div class="cal">

  <figure >
    {% if capsulas.image %}
  <img class="shadow" src="{{ capsulas.image }}"/>
    {% endif %}
  </figure>
  </div>
  </div>

  <div class="col col-7">
  <div class="cal">
	{% if capsulas.day %}
  <h2 style="margin:0 !important; padding:0 !important;" class="league-two">{{ capsulas.day }}{% endif %}{% if capsulas.month %} <span style="font-size:0.7em;">{{ capsulas.month }}</span></h2>
	{% endif %}
  <h2 style="margin:auto 0 .6em 0 !important; padding:0 !important;" class="league">{{ capsulas.title }}</h2>
  <div class="pts">
  <p >{{ capsulas.content }}</p>
  <ul>
    {% if capsulas.time %}<li>Hora: {{ capsulas.time }}</li>{% endif %}
    {% if capsulas.place %}<li>Lugar: {{ capsulas.place }}</li>{% endif %}
    {% if capsulas.ext-url %}<li>Enlace: <a href="{{ capsulas.ext-url }}">Más eventos</a></li>{% endif %}
  </ul>

  </div>
  </div>
  </div>

  </section>
  {% endfor %}
  </div>
