<div class="site-section site-section-video noise">
	<h2 style="margin:0 !important; padding:0 !important;" class="league-four">ESTA SEMANA<br /> en el Museo Municipal de Guayaquil</h2>

<section>

<div class="row auto leftie">

<div class="col col-6 ">

<div class="cal">	
<h2 class="league">Malvinas por sus protagonistas</h2>
<figure >
<img class="shadow" src="/img/juan-cruz.jpg"/>
</figure>
<div class="rob">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel tortor eu tortor vestibulum suscipit eu nec justo. Quisque sollicitudin bibendum gravida. Integer vitae ante condimentum, porta justo vel, suscipit enim. Sed fermentum felis non augue varius, non mattis leo mattis.
</p>
<ul>
  <li>Fecha</li>
  <li>Hora</li>
  <li>Lugar</li>
  <li><a href="#">Link</a></li>
</ul>

</div>
</div>
</div>

<div class="col col-6 ">
<div class="cal">
<h2 class="league">Festival de Artes al Aire Libre</h2>
<figure >
<img class="shadow" src="/img/faal-masky.png"/>
</figure>
<div class="rob">
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel tortor eu tortor vestibulum suscipit eu nec justo. Quisque sollicitudin bibendum gravida. Integer vitae ante condimentum, porta justo vel, suscipit enim. Sed fermentum felis non augue varius, non mattis leo mattis.
</p>
<ul>
  <li>Fecha</li>
  <li>Hora</li>
  <li>Lugar</li>
  <li><a href="#">Link</a></li>
</ul>

</div>
</div>
</div>

</section>
</div>
