<div class="site-section-board" style="padding-bottom:0px!important;">

  <div class="aside-b">
  <div class="row" style="padding-top:3rem;">

    <div class="col col-6 offset-3">
    <figure style="margin-bottom:0;">
      <img src="/assets/andina.svg">
    </figure>
    </div>

  </div>
  </div>

<!--<figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1560488746/n4h70qlirtw4ucwj2dpz.jpg" />
   <div class="cta-option-premiere-up">
  <button class="btn-alt js-video-button" data-video-id='328853231' data-channel="vimeo">  <h2 class="league-sm-white-btn">50 años&nbsp;<i class="fa fa-play-circle"></i></h2></button>
      </div>
</figure> -->
<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">PRESENTAN:</h2>
    <h2 class="league-blue">&laquo;ECUADOR 1929&raquo;</h2>

  </div>
</div>

<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">Una película de Carlos Endara A.</h2>
  </div>
</div>

<div class="row" style="padding: 0 3em 2em 3em;">
 <div class="col offset-2 col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Alex<br />Schlenker</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>Restauración fílmica</strong></p>
  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Ana María Canelos<br />Mirko Rodic</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>Exposición fotográfica</strong></p>

  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Alfonso<br />Ortiz Crespo</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>Autor: El fotógrafo y artista Carlos Endara</strong></p>

  </div>
  </div>

</div>
<img style="mix-blend-mode:multiply; width:100vw;" src="//res.cloudinary.com/magnvs/image/upload/e_blue:20/v1569034596/wzsgteeuryfsesmxjcig.png"/>
</div><!-- end site-section-board -->
