<div class="site-section-board" style="margin-bottom:0;padding-bottom:0px!important;">

  <div class="aside-b">
  <div class="row" style="padding-top:3rem;">

    <div class="col col-6 offset-3">
    <figure style="margin-bottom:0;">
      <img src="/assets/andina.svg">
    </figure>
    </div>

  </div>
  </div>

<!--<figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1560488746/n4h70qlirtw4ucwj2dpz.jpg" />
   <div class="cta-option-premiere-up">
  <button class="btn-alt js-video-button" data-video-id='328853231' data-channel="vimeo">  <h2 class="league-sm-white-btn">50 años&nbsp;<i class="fa fa-play-circle"></i></h2></button>
      </div>
</figure> -->
<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">PRESENTAN:</h2>
    <h2 class="league-blue">&laquo;MUESTRA DE CÉSAR CARMIGNIANI&raquo;</h2>

  </div>
</div>

<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">18 &mdash; 22 de noviembre<br/>Sala de cine de la Casa de la Cultura Ecuatoriana,<br/> Núcleo del Guayas CCENG &ndash; 5to. piso</h2>
  </div>
</div>

<div class="row" style="padding-left: 5em;">
 <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">El Ruiseñor de<br />América</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>LUNES 18</strong><br /> 16:00</p>
  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Manuela, recuerdos<br />en Paita</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>MARTES 19</strong><br /> 16:00</p>

  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Mercedes de <br />Jesús</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>MIÉRCOLES 20</strong><br /> 16:00</p>

  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Niña<br />Narcisa</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>JUEVES 21</strong><br /> 16:00</p>

  </div>
  </div>

</div>

<div class="row" style="padding-left: 5em;">
 <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">El Ruiseñor de<br />América</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>JUEVES 21</strong><br /> 18:30</p>
  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Manuela, recuerdos<br />en Paita</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>VIERNES 22</strong><br /> 16:00</p>

  </div>
  </div>

  <div class="col col-6 leftie">
  <h2 class="league-sm" style="color:#C62828;">Olmedo, el castigo de la<br />grandeza</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>VIERNES 22</strong><br /> 18:30</p>

  </div>
  </div>

</div>
<img style="mix-blend-mode:multiply; width:100vw;" src="//res.cloudinary.com/magnvs/image/upload/v1573526558/rs76n17f7y41h0wdug9o.png"/>
</div><!-- end site-section-board -->

<div class="premiere-b">
  <div class="container" style="padding-bottom: 4rem;">
    <h2 class="league-sm-white">ENTRADA LIBRE</h2>
    <figure style="width:200px;margin:0 auto;"><img style="width:70%;" src="assets/CCENG.svg" /></figure>
    <p>Av. 9 de Octubre 1200 y Av. Quito · 3812010 - 3812019 ext. 1001<p>
    <h2 class="league-light">Ver la cartelera completa</h2>
    <a href="//cdn.filestackcontent.com/rp9Ea55lTWiOr00YnERx" class="btn btn-premiere" role="button"> <i class="fa fa-file-pdf-o"></i>&nbsp;CINE PARA TODOS</a>

  </div>
</div>
