<div class="site-section-board">

<!-- <figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1560488746/n4h70qlirtw4ucwj2dpz.jpg" />
   <div class="cta-option-premiere-up">
  <button class="btn-alt js-video-button" data-video-id='328853231' data-channel="vimeo">  <h2 class="league-sm-white-btn">50 años&nbsp;<i class="fa fa-play-circle"></i></h2></button>
      </div>
</figure> -->
<div class="row" style="margin-bottom: 4.3em;">
  <div class="col col-6">
    <figure style="margin-bottom:0;">
      <img src="//res.cloudinary.com/magnvs/image/upload/v1597875860/knnl3kcezyqaq24rdmot.png">
    </figure>
    </div>
  <div class="col col-5">
    <figure style="margin-bottom:0;">
      <img src="/assets/andinas.svg">
    </figure>
    <h2 style="font-size: 2.7em;" class="league-sm">PRESENTAN:</h2>
  <figure style="margin: 0 auto; width: 85%;"><img src="assets/comic-title.svg"/></figure>
  <p style="text-transform:uppercase; padding:0 15px;" >Trilogía de cómics que incluye nuevos datos y aportes para una apreciación más objetiva sobre la revolución del 9 de Octubre.<br /><br />Con la edición y asesoría del historiador <b>Melvin Hoyos</b>, el guionista Alfredo García contribuye con una narración que, además de las fuentes históricas tradicionales, toma en cuenta todo lo que se ha descubierto sobre la Revolución de Octubre en los últimos 50 años.
  </p>
  </div>
  <div class="col col-1">
    </div>
</div>

<div class="row" style="padding-left: 5em;">

<div class="col col-2 leftie">
   </div>

 <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Antecedentes</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>Memorias Guayaquileñas #18</strong><br/>Guión: <b>Alfredo García</b><br />Arte: <b>Israel Pardo</b></p>
  </div>
  <a href="//drive.google.com/file/d/1Whpbr32o6uAqJqNI5Fb4XIPIbTdesbVs/view?usp=sharing"><button class="cartel"><i class="fa fa-download"></i> Descargar cómic</button></a>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">La revolución paso a paso</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>Memorias Guayaquileñas #19</strong><br/>Guión: <b>Alfredo García</b><br />Arte: <b>Kléver Flores</b></p>
    </div>
  <a href="//drive.google.com/file/d/1PjkLpDH1PshoeZHn78vZg6XRptrJ6pba/view?usp=sharing"><button class="cartel"><i class="fa fa-download"></i> Descargar cómic</button></a>

  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm" style="color:#C62828;">Consecuencias</h2>
  <div style="border-left: 2px #C62828 solid;padding-left: 10px;">
  <p><strong>Memorias Guayaquileñas #20</strong><br/>Guión: <b>Alfredo García</b><br />Arte: <b>Pedro Benalcázar</b></p>
  </div>
  <a href="//drive.google.com/file/d/1KiasqBZwF7Y5q8cmfA-rPw_Y-Ap5wcXM/view?usp=sharing"><button class="cartel"><i class="fa fa-download"></i> Descargar cómic</button></a>
  </div>

  <div class="col col-1 leftie">
     </div>

</div>

</div><!-- end site-section-board -->
