<div class="cceng">
  <div class="container" style="padding-bottom: 4rem;">
  
    <h2 class="league-three">CINEMATECA CCE-NG</h2>
    <figure style="width:200px;margin:0 auto;"><img style="width:70%;" src="assets/CCENG.svg" /></figure>
    <p>Av. 9 de Octubre 1200 y Av. Quito · 3812010 - 3812019 ext. 1001<p>
    <h2 class="league-sm-white">Ver la cartelera completa</h2>
    <a href="//cdn.filestackcontent.com/rp9Ea55lTWiOr00YnERx" class="btn btn-premiere" role="button"> <i class="fa fa-file-pdf-o"></i>&nbsp;CINE PARA TODOS</a>
    <h2 class="league-sm-white">ENTRADA LIBRE</h2>

  </div>
</div>
