<div class="cceng">
  <div class="row">
    <div class="col col-6 offset-4">

    <h2 class="cce">CINEMATECA CCE-NG</h2>
    <figure style="width:200px;margin:0 auto;"><img style="width:70%;" src="assets/CCENG.svg" /></figure>
    <p>Av. 9 de Octubre 1200 y Av. Quito<br/> 3812010 - 3812019 ext. 1001<p>
    <h2 class="league-light">TALLER DE CINE PARA NIÑOS Y JÓVENES: 9 - 26 MARZO</h2>
    <a href="//cdn.filestackcontent.com/FeOWLS4OSFeI26ZoT1aH" class="btn btn-premiere" role="button"> <i class="fa fa-file-pdf-o"></i>&nbsp;MÁS INFORMACIÓN AQUÍ</a>
    <h2 class="league-sm-white">ENTRADA LIBRE</h2>

   </div>
  </div>
</div>
