<div class="site-section-head">

<div class="last-main-title">
  <h1 class="wow fadeInUp">Museo Arte y Ciudad</h1>
  <h2 class="wow fadeInUp">noticias destacadas <span style="font-size:1.8rem;"><i class="fa fa-star-o" aria-hidden="true"></i></span></h2>
</div>

<section>
    <article class="columnas">
      {% for destacada in site.destacadas limit: 1 %}

      {% if destacada.image %}
      <img class="destacada" src="{{ destacada.image }}" alt="Fotografía de {{ destacada.title }}">
      {% endif %}

        <h1>{{ destacada.title }}</h1>
        <h2>{{ destacada.subtitle }}</h2>
        <div>
          {{ destacada.content }}
        </div>

        {% endfor %}
        </article>
</section>

</div>
