<div class="event">

  <div class="event-intro">
  <h2 class="league-three">Estructuras táctiles ocultas en braille</h2>
  <p ><strong>ARTE INCLUSIVO.</strong> Esta propuesta es la fusión de tres exposiciones previas: "El arte de tocar en Guayaquil", "El braille y el arte en Quito" y, "Pictobraille en Guayaquil".</p>
  </div>

		<div class="event-article">
			<div class="main-content">
				<h2 class="league-sm">Lalinchi Arreaga Burgos</h2>

				<p>La exposición está dirigida a personas con discapacidad visual, con discapacidaddes de movilidad reducida y público en general, con la finalidad de que los visitantes puedan experimentar la sensación de poder tocar cada una de las obras, realizadas en alto y bajo relieve, en diversos formatos y estructuras.</p>
        <p>Los visitantes podrán percibir por medio del tacto, las delineaciones definidas en materiales como la madera, MDF, cemento y yeso, sin dejar a un lado, el color plasmado al óleo, acrílico y laca, en soportes de tela y madera.
			</div>

		</div>

		<div class="shaded">

			<div class="event-wrap">
				<h3>Inauguración</h3>

				<dl>
					<dt>Fecha:</dt><dd>04 - DIC</dd>
					<dt>Hora:</dt><dd>19h00</dd>
          <dt>Sala:</dt><dd>Polivalente</dd>
				</dl>

			</div>

			<div class="img-02">
				<img src="//res.cloudinary.com/magnvs/image/upload/v1575353881/hqgesgwqvhmhmdabja39.jpg" alt="">
			</div>

		</div>

		<div class="img-03">
			<img src="//res.cloudinary.com/magnvs/image/upload/v1575355859/prdazko1roepl8oyqa9j.jpg" class="img-03" alt="">
		</div>

</div>
