<div class="for-grids">
<div class="grids">
	{% assign destacadas = site.destacadas | sort: 'listing-priority' %}
	{% for destacadas in destacadas limit: 7 %}

<div class="item-grid">
	{% if destacadas.image %}
	<img src="{{ destacadas.image }}" alt="Fotografía de {{ destacadas.title }}"/>
	{% endif %}
	<h2 class="league-sm">{{ destacadas.title }}</h2>
	{% if destacadas.subtitle %}
	<h3 class="league-gray">{{ destacadas.subtitle }}</h3>
	{% endif %}
	<p>{{ destacadas.content }}</p>
	{% if destacadas.mmdg %}
	<p><a href="{{ destacadas.mmdg }}"> <i class="fa fa-download"></i>&nbsp;Descargar</a></p>
	{% endif %}
	{% if destacadas.info %}
	<p><a href="{{ destacadas.info }}"> <i class="fa fa-info-circle"></i>&nbsp;Descargar</a></p>
	{% endif %}
</div>
{% endfor %}
</div>
</div>
