<div class="premiere-expo">
<div class="row gutters">

  <div class="col col-2">
  </div>

  <div class="col col-8" style="padding:0 40px 50px 40px;">

  <h2 class="league-blue">COLECCIÓN MUSEOGRÁFICA</h2>
  <div class="premiere-blue">

  <div class="row leftie">
    <div class="col col-6">
      <p><b>"Orígenes del Museo Municipal"</b> recoge objetos museables que se encuentran en la reserva técnica del Museo Municipal de Guayaquil, aquellos con los que se armó la primera exposición permanente.</p>
    </div>

    <div class="col col-6">
      <p>Los bienes museables están acompañados de las imágenes de las antiguas salas del Museo Municipal de inicios del siglo XX donde se aprecian como estaban expuestos los mismos.
      </p>

    </div>
  </div>

  <h2 class="league-blue">&laquo;Sala de Artes Temporales&raquo;<br />
  Museo Municipal de Guayaquil</h2>

  <p><b>APERTURA: MIÉRCOLES 16 DE MAYO </b></p>
  </div>

 </div><!-- END of col col-8 -->

  <div class="col col-2">
  </div>

</div>
</div>
