<div class="gridz">
   <div class="element">

   </div>
   <div class="element-1">
      <!--<div class="wow bounceInLeft">
          <figure class="full-width">
                <img class="wide-alt" src="assets/faal-2018black.svg" alt="" />
          </figure>
        </div>-->
        <h2 class="league">VIERNES 26 DE OCTUBRE</h2>
        <p class="bold" style="color:#9a0078">PASEO DE LOS PRESIDENTES - MALECÓN 2000<br / /> 19h00</p>
        <!-- <div class="cta-option-premiere" style="margin-bottom:1.5em;">
            <a class="btn btn-premiere" href="/faal" target="blank" data-ga-category="outbound links">
               INSCRÍBETE AQUÍ
            </a>
          </div>-->
    </div>
    <div class="element-2">

    </div>
 </div>
