<div class="gridz">  
   <div class="element">

   </div>
   <div class="element-1">
      <!--<div class="wow bounceInLeft">
          <figure class="full-width">
                <img class="wide-alt" src="assets/faal-2018black.svg" alt="" />
          </figure>
        </div>-->
        <h2>PREMIACIÓN Y CLAUSURA DEL FESTIVAL DE ARTES AL AIRE LIBRE</h2>
      
        <!-- <div class="cta-option-premiere" style="margin-bottom:1.5em;">
            <a class="btn btn-premiere" href="/faal" target="blank" data-ga-category="outbound links">
               INSCRÍBETE AQUÍ
            </a>
          </div>-->
    </div>
    <div class="element-2">
            <h2 >SÁBADO 10 DE NOVIEMBRE<br/>19H00</h2>

    </div>
    <div class="element-3">
            <h2>PASEO DE LOS PRESIDENTES /<br/>MALECÓN 2000</h2>
            <p> A LA ALTURA DE LA CALLE AGUIRRE</p>
      

    </div>
    <div class="element-4">
          <p><strong>LA MUESTRA CON LAS OBRAS GANADORAS PERMANECERÁ ABIERTA HASTA EL 8 DE DICIEMBRE DEL 2018 EN LAS SALAS DEL MUSEO MUNICIPAL DE GUAYAQUIL</strong></p>
          <p><strong>ENTRADA LIBRE</strong></p>


    </div>
 </div>
