<div class="site-footer" role="contentinfo">

  <div>
    <p><i class="fa fa-mobile fa-3x"></i><br  /> 259 4800 ext. 7402</p>
    <p><i class="fa fa-bank fa-2x"></i> · <i class="fa fa-bus fa-2x"></i><br  />Sucre entre Chile y Pedro Carbo<br  /><span>Parada Metrovia más cercana: Biblioteca Municipal</span></p>
  </div>
  <p>
    <a class=twitter-share-button href=https://twitter.com/share data-count=none data-lang=en data-via=h5bp data-size=large data-text="HTML5 Boilerplate: The rock-solid professional front-end template" data-url=https://html5boilerplate.com/ ><i class="fa fa-twitter fa-2x"></i><br  />Tweet
    </a>
  </p>
  <p>Programa Museo, Arte y Ciudad &copy;2017</p>
</div>

</div><!-- end of main-->
