<div class="form-t">
<div class="comments">
</div>
           <h3 class="subtitle is-3">Deja tu comentario</h3>
               <form id="comment">
                 <label for="message">Mensaje</label>
                 <textarea id="message"></textarea>

                 <label for="name">Nombre</label>
                 <input type="text" id="name">

                 <label for="email">Email</label>
                 <input type="text" id="email">

                 <input class="btn" type="submit" value="Enviar comentario">
               </form>
 </div>
