<div class="galeria">
<ul >
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571621557/ckvwynb0w3gcbkmmcygl.jpg" alt="manos pintando flores" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571621492/v1gwtcvwfzsbxrdh6q5k.jpg" alt="concurso pintura faal" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571621691/f38jswfntpytiueujyhu.jpg" alt="discapacitado pintando" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571621758/xvzcpyinas9u1ku3dbc8.jpg" alt="mano trabajando con pintura" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571622022/irpxsj61r8vge1nfrw7j.jpg" alt="pintor de perfil" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571622252/vuaml0agzhr1csngc8qv.jpg" alt="pintor de espaldas" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571622349/kepsyola2mqycahw5gc6.jpg" alt="pintando en la noche" loading="lazy">
  </li>
  <li>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1571622334/o6tiusr7gps0brmu6adi.jpg" alt="Otro pintor" loading="lazy">
  </li>
  </div>
