<div class="for-grids">
<div class="gridsq">
  <div class="main-sq"><a href="/ecuador-1929"><img src="//cdn.filestackcontent.com/cGxGlPsQTugDeASxVMUP" alt=""></a></div>
  <div class="main-sq-text" ><p><b>Presentamos</b> la primera parte de la película filmada por <b>Carlos Endara Andrade</b> &mdash;ECUADOR 1929&mdash; donde detalla su visita a Guayaquil. Esta es la <b>versión ampliada</b> de la descripción histórica de la ciudad con la contribución del historiador <b>Melvin Hoyos G.</b></p>

  <div style="margin-bottom: .9em;">
  <a href="/ecuador-1929" class="btn btn-premiere" role="button"><span style="font-size:1.1rem;"> <i class="fa fa-youtube-play"></i>&nbsp;Ver película</span></a>
  </div>
  </div>

  <div ><a href="/guayaquil-ebook"><img src="//res.cloudinary.com/magnvs/image/upload/v1583612119/htzestnaoz3a0czhojy2.jpg" alt=""></a></div>
  <div ><p><strong>Hemos reeditado el libro “Historia de Guayaquil” (2008)</strong> de la autoría de los historiadores <em>Melvin Hoyos Galarza</em> y <em>Efrén Avilés Pino</em>, ahora está disponible en su versión digital, para que lo descargues gratis y lo leas en el dispositivo electrónico de tu preferencia. Puedes elegir entre ePub y .mobi (para Kindle ebook reader).</p>

  <div style="margin-bottom: .9em;">

  <a class="btn btn-download" href="//cdn.filestackcontent.com/NEHKkmfCR6rMxwPtiqnL" target="blank" data-ga-category="outbound links" role="button"><i class="fa fa-download"></i>  .mobi
  </a>
  <a class="btn btn-premiere" href="//cdn.filestackcontent.com/qkrxzFeQRWeP6ChlGp3b" target="blank" data-ga-category="outbound links" role="button"><i class="fa fa-download"></i>  ePub</a>

  </div>
  </div>

  <div ><a href="/galeria-digifoto/"><img src="//res.cloudinary.com/magnvs/image/upload/v1590837695/mxs2bnpiltxo1vrbuvo3.jpg" alt=""></a>
  </div>

  <div ><p><strong>CONOCE A LOS GANADORES EN LA GALERÍA VIRTUAL DEL CONCURSO &laquo;MI FAMILIA, MI HOGAR&raquo; .</strong><br /><br/> De las 85 fotografías participantes, el jurado integrado por Manuel Tama, Fabian Peñaherrera y Pedro Gambarroti, tomó la decisión de premiar a tres de ellas y otorgar menciones honor a diecisiete fotografías.</p>

  <div style="margin-bottom: .9em;">
  <a href="/galeria-digifoto" class="btn btn-premiere" role="button"><span style="font-size:1.1rem;"> <i class="fa fa-camera"></i>&nbsp;Ver galería</span></a>
  </div>
  </div>


</div><!-- END gridsq -->
</div><!-- END for-grids -->
