<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/css/primera.css"/>
  <link rel="stylesheet" href="/css/buttons.css"/>
  <link rel="stylesheet" href="/css/forms.css"/>
  <link rel="stylesheet" href="/css/comments.css"/>
  <link rel="stylesheet" href="/css/solarized.css"/>
  <link rel="stylesheet" href="/css/flex.css"/>
  <link rel="stylesheet" href="/css/pod.css"/>
  <link rel="stylesheet" href="/css/icn.css"/>
  <link rel="stylesheet" href="/css/ScrollTrigger.css"/>
  <link rel="stylesheet" href="https://brick.a.ssl.fastly.net/Libre+Baskerville:400,400i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" type="text/css">
  <link rel="stylesheet" href="https://brick.a.ssl.fastly.net/Oswald:200,300">
  <link rel="stylesheet" href="/css/hack.css" type="text/css" >
  <script src="/JS/vendor/modernizr.min.js"></script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
