<div class="oculto" style="background-color:#fff;">
<div class="last-main-title">
    <h1 class="wow fadeInUp">Ven al Museo Municipal</h1>
    <h2 class="wow fadeInUp">y admira nuestro patrimonio <span style="font-size:1.8rem;"><i class="fa fa-star-o" aria-hidden="true"></i></span></h2>
</div>

<section class="site-section-head">
  <div class="parent--el">
  <div class="is-item has-content">
    <div class="is-item--inner leftie">
      <h2 class="section-title"><span>Figurina guangala</span></h2>
      <div class="is-content">
        <p>Cultura Guangala, <strong>Desarrollo Regional (500 a.C. - 500 d.C.)</strong></p>
        <p>Esta obra de arte es uno de los bienes nuestro patrimonio ancestral que está incluida en la exposición permanente del Museo Municipal de Guayaquil. </p>
      </div>
      <p class="cta-h">MÁS DETALLES</p>
    </div>
  </div>

  <div class="is-item has--img">

    <div class="the--display">
      <figure class="plate first-plate">
        <img src="//res.cloudinary.com/magnvs/image/upload/v1549180426/apga6bxd3dqdln6ubxyg.png" alt="">
     </figure>
      <!-- <figure class="plate second-plate">
        <img src="mayorga.svg" alt="">
      </figure>  -->
    </div>
    <div class="is-img--content">
      <div class="is-img--content_inner leftie">
        <img src="//res.cloudinary.com/magnvs/image/upload/v1549180626/oekvyyyw2ntviczxghuj.jpg"/>
        <p>En el arte del modelado en cerámica de la fase Guangala, la figura antropomorfa está representada con dos tipos de esculturas; el primer tipo de figurinas son pequeñas, sólidas, muy estilizadas y de modelado libre; las otras, de mayor tamaño en cambio son huecas, realistas, elaboradas en molde y casi todas son ocarinas.<br/><br/>
        La figura de la imagen, de 22 cm de alto, es hueca y con función de silbato, tiene un orificio de resonancia en la parte superior de la cabeza y dos glóbulos de resonancia en el nacimiento de los brazos.<br/><br/>
        Representa una figura femenina con pose sedente cuyas manos descansan sobre el muslo cubierto con una falda corta; tiene los ojos almendrados, nariz aguileña y pómulos que sobresalen. Está decorada con engobe amarillo, tinte rojo e incisos que combinan líneas curvas y rectas.<br/><br/>
        Las figuras masculinas que poseen una función y características similares difieren en la postura, están de pie y con los brazos caídos a los lados.
        </p>

      </div>
    </div>
    <div class="bg-h"></div>
  </div>
</div>
</section>
</div>
