<div class="site-section-head" style="margin-top: -1.9em !important;">
<figure class="full-width">
      <img class="wide" src="img/ocmm-title.svg" alt="" />
</figure>
</div>

<div class="site-section-head">
<div class="article-mag-wrap">


  <header class="article-mag-header">
    <h4>

    Por primera vez, en toda la historia del Cabildo, se incorpora una orquesta en el quehacer cultural de la urbe; y, gracias al continuo apoyo del abogado Jaime Nebot y del director de Cultura, el arquitecto Melvin Hoyos G., Guayaquil cuenta con una orquesta representativa.

    </h4>

  <div class="byline">
      &#10086;
    </div>

  </header>

  <div class="intro-ps leftie">

	<p><strong>Nace en 1986</strong> bajo la denominación de Orquesta de Cámara Antonio Vivaldi y su primera interpretación pública la realizó en el Centro de Arte (1990) con los niños que conformaban la Escuela de Música del mismo nombre. En 1991 estuvo auspiciada por la Casa de la Cultura Núcleo del Guayas hasta que finalmente en noviembre del siguiente año fue incorporada a la M. I. Municipalidad de Guayaquil, adscrita al Museo Municipal.</p>

    <p><strong>Desde la fecha</strong> en que la orquesta entró a formar parte del Museo Municipal, al inicio de la Alcaldía del Ing. León Febres-Cordero, se constituyó en una herramienta de más cultura para Guayaquil, y en esta trayectoria ha dado muchos conciertos formales y didácticos en diferentes salas y teatros de nuestra ciudad y fuera de ella, contando aún con una vasta programación para llegar a más público, en especial a la ciudadanía de Guayaquil.</p>



  </div>

<div class="article-mag-body">
    <div class="site-promo">

    <p class="leftie">A partir de enero del 2008, la orquesta se ha renovado con jóvenes talentos que seguirán impulsando la labor municipal. En el año 2016, la Orquesta de Cámara Antonio Vivaldi, celebró sus bodas de perla.</p>
    <p class="leftie">Todo este esfuerzo se debe al trabajo tesonero del abogado José A. Valdivieso S., fundador y director de la Orquesta de Cámara del Museo Municipal.</p>
    </div>

    <figure class="full-width" style="margin-top:-2em;">
      <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1501892745/ocm-1_beajud.jpg" alt="" />
      <figcaption>
        Ensayos de la Orquesta de Cámara en el Museo Municipal de Guayaquil
      </figcaption>
    </figure>

    <div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h3>José Valdivieso</h3>
    <h4>Director Titular</h4>

    <p class="leftie">El maestro José Valdivieso realizó sus primeros estudios musicales en el «Conservatorio Nacional de Música Antonio Neumane» donde llegó a presidir la Asociación de estudiantes y además fundaría la Orquesta de Estudiantes del Conservatorio, la cual sería la base para la conformación de la primera Orquesta Sinfónica de la Casa de la Cultura.</p>

	 <p class="leftie">Por muchos años se desempeñó como oboista principal de la Orquesta Sinfónica de Guayaquil, de la cual se separó para dedicarse exclusivamente a la agrupación musical que hoy dirige.</p>

  </div>
  <figure class="full-width" style="margin-top:-2em; margin-bottom: -4em;">
      <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1501892744/ocm-2_semrbf.jpg" alt="" />
      <figcaption>
        En el 2008 la Orquesta de Cámara se renovó con jóvenes valores que continúan impulsando la labor municipal.
      </figcaption>
    </figure>

</div>
  <br />

</div>
</div><!--END site-section-head -->

<div class="site-section-head">

	<h4 style="color:brown;">Integrantes de la Orquesta</h4><br /><br/>

<div class="grid">
      <div class="grid-cell">

         <h4>Violines I</h4>
    <p>&laquo;Tigran Matevosyan <em>(Concertino)</em>&raquo;<br/>
	   &laquo;Andrea Mazzini&raquo;<br/>
	   &laquo;Marisol Montiel&raquo;<br/>
	   &laquo;Mariuxi Yerovi&raquo;<br/>
	   &laquo;Maytee Merchán&raquo;<br/>
	   &laquo;Francisco Carvallo&raquo;
    </p>


      </div>
      <div class="grid-cell">

        <h4>Violines II</h4>
    <p>&laquo;Alex Rodríguez <em>(Principal)</em>&raquo;<br/>
	   &laquo;Eliza Soria&raquo;<br/>
	   &laquo;Saray Bermúdez&raquo;<br/>
	   &laquo;Andrei Gordillo&raquo;<br/>
	   &laquo;Andrea Vargas&raquo;
    </p>

      </div>

      <div class="grid-cell">

        <h4>Violas</h4>
    <p>&laquo;Zorik Bazinyan <em>(Principal)</em>&raquo;<br/>
	   &laquo;Ketty Proaño&raquo;<br/>
	   &laquo;Efrain Ojeda&raquo;<br/>
	   &laquo;Dinorath Acosta&raquo;
	   </p>

      </div>


    </div>
</div><!--END site-section-head -->

<div class="site-section-head">

    <div class="grid">
      <div class="grid-cell">

    <br />
    <br />
    <h4>Viloncellos</h4>
    <p>&laquo;Eudo Vargas <em>(Principal)</em>&raquo;<br/>
	   &laquo;Cristhy Loaiza&raquo;<br/>
	   &laquo;Diego Adamo&raquo;
    </p>

      </div>

      <div class="grid-cell">

    <h4>Contrabajo</h4>
    <p>&laquo;Daniel Mayorga&raquo;
    </p>

    <h4>Director Titular</h4>
    <p>&laquo;José Valdivieso&raquo;
    </p>

      </div>

    </div>

</div><!--END site-section-head -->

<div class="site-section-head">

	<figure style="margin-top: -1em;">
      <img style="border-radius:50%; width:10%;" src="img/musk.png" alt="" />
      <figcaption>
        &copy;2017 OCMMG
      </figcaption>
    </figure>

<div class="article-mag-wrap">

	<div class="byline">
      &#10086;
    </div>

  <aside class="in-brief">
    <h3>PRESENTACIONES</h3>
    <div class="in-brief-content">
      <p><strong>Conciertos de temporada:</strong> El último miércoles de cada mes en el Auditorio del MUSEO MUNICIPAL a las 19H00.</p>
      <p><strong>Conciertos al aire libre:</strong> Segundo y cuarto sábados de cada mes en la glorieta del PARQUE SEMINARIO a las 11H00.</p>
      <p><strong><i class="fa fa-twitter"></i></strong> @vivaldiorquesta<br /><strong><i class="fa fa-instagram"></i></strong> @orquestavivaldi_gye<br/><strong><i class="fa fa-facebook"></i></strong> Búscanos por el nombre. </p>
    </div>
  </aside>

</div>
</div><!--END site-section-head -->
