<div class="poster">
<div class="zona">
  <h2 class="league-blue">Ven y conoce el Museo de la ciudad</h2>
  <h2 class="league-sm">MMDG</h2>
  <p>Sitio web oficial del Museo Municipal de Guayaquil. <em>Aquí encontrarás información sobre el museo y sus atractivos.</em></p>
  <div>
           <a class="btn btn-download" href="//www.mmdg.site" data-ga-category="Outbound links" style="letter-spacing: 3px;">
             <strong>MMDG.SITE</strong>
           </a>
  </div>

</div>
  <div class="zona1">
  <figure><a href="//www.mmdg.site"><img src="//res.cloudinary.com/magnvs/image/upload/v1578283323/gaqnupx5paqjeafs0kps.png"/></a></figure>
  </div>
  <div class="zona2">
  <figure><a href="//www.mmdg.site"><img src="//res.cloudinary.com/magnvs/image/upload/v1578283306/fxubo1k8ffd0tm3lejxd.png"/></a></figure>
  </div>

  <div class="zona4">
  <h2 class="league-sm-white">CONOCE MÁS SOBRE EL MUSEO MUNICIPAL</div>

<div class="zona3">
<ul id="mid-menu">
    <li class="it w3">
      <div class="background-image" style="background-image:url(//www.museoarteyciudad.com/img/biblioteca.jpg);"></div>
      <div class="background-gradient"></div>
      <div class="informax">
        <h2 class="titulado league-light">Museo Municipal de Guayaquil</h2>
        <div class="content-mid">
            <p>Nuestra institución nació como Museo Industrial en 1863, fue su gestor el distinguido guayaquileño don Pedro Carbo quien en aquel entonces presidía la Municipalidad. Hacia el año de 1908, el Ilustre Concejo Cantona</p>
            <a href="/expo">LEER MÁS</a>
        </div>
      </div>
    </li>
    <li class="it w3">
      <div class="background-image" style="background-image:url(//res.cloudinary.com/magnvs/image/upload/c_crop,g_north,h_500,y_120/v1537067005/qjcq1amdvf5dructlnpq.jpg);"></div>
      <div class="background-gradient"></div>
      <div class="informax">
        <h2 class="titulado league-light">Angeloni Tapia</h2>
        <div class="content-mid">
            <p>Ha retratado a importantes personajes de la historia y de la actualidad nacional, tiene su obra repartida en colecciones particulares de países como España, Estados Unidos, Francia, Egipto, Panamá, Canadá y México, entre otros</p>
            <a href="/angeloni-tapia">LEER MÁS</a>
        </div>
      </div>
    </li>
    <li class="it w3">
      <div class="background-image" style="background-image:url(//res.cloudinary.com/magnvs/image/upload/v1538793757/fwj6gqdeexfneztatqdp.jpg);"></div>
      <div class="background-gradient"></div>
      <div class="informax">
        <h2 class="titulado league-light">Orquesta de Cámara del Museo Municipal</h2>
        <div class="content-mid">
            <p>Nace en 1986 bajo la denominación de Orquesta de Cámara Antonio Vivaldi y su primera interpretación pública la realizó en el Centro de Arte (1990) con los niños que conformaban la Escuela de Música del mismo nombre. En 1991</p>
            <a href="/ocmmg">LEER MÁS</a>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
