<div class="poster">
        <div class="zona">
        </div>
        <div class="zona1">
        </div>
        <div class="zona2">
          <p>
            Inaugurada en 1911, la obra del escultor italiano Augusto Faggioni hace homenaje al Mariscal Sucre. El detalle en esta imagen corresponde al conjunto escultórico del pedestal de la fachada Este: Es una escena de la Batalla del Pichincha donde vemos al general Córdova combatiendo a caballo y, a un costado, portando la bandera del Batallón Yaguachi, el Tnte. Abdón Calderón.
          </p>
        </div>
        <div class="zona3">
<ul id="mid-menu">
    <li class="it w3">
      <div class="background-image" style="background-image:url(//www.museoarteyciudad.com/img/biblioteca.jpg);"></div>
      <div class="background-gradient"></div>
      <div class="informax">
        <h2 class="titulado league-light">Museo Municipal de Guayaquil</h2>
        <div class="content-mid">
            <p>Nuestra institución nació como Museo Industrial en 1863, fue su gestor el distinguido guayaquileño don Pedro Carbo quien en aquel entonces presidía la Municipalidad. Hacia el año de 1908, el Ilustre Concejo Cantona</p>
            <a href="/expo">LEER MÁS</a>
        </div>
      </div>
    </li>
    <li class="it w3">
      <div class="background-image" style="background-image:url(//res.cloudinary.com/magnvs/image/upload/c_crop,g_north,h_500,y_120/v1537067005/qjcq1amdvf5dructlnpq.jpg);"></div>
      <div class="background-gradient"></div>
      <div class="informax">
        <h2 class="titulado league-light">Angeloni Tapia</h2>
        <div class="content-mid">
            <p>Ha retratado a importantes personajes de la historia y de la actualidad nacional, tiene su obra repartida en colecciones particulares de países como España, Estados Unidos, Francia, Egipto, Panamá, Canadá y México, entre otros</p>
            <a href="/angeloni-tapia">LEER MÁS</a>
        </div>
      </div>
    </li>
    <li class="it w3">
      <div class="background-image" style="background-image:url(//res.cloudinary.com/magnvs/image/upload/v1501892745/ocm-1_beajud.jpg);"></div>
      <div class="background-gradient"></div>
      <div class="informax">
        <h2 class="titulado league-light">Orquesta de Cámara del Museo Municipal</h2>
        <div class="content-mid">
            <p>Nace en 1986 bajo la denominación de Orquesta de Cámara Antonio Vivaldi y su primera interpretación pública la realizó en el Centro de Arte (1990) con los niños que conformaban la Escuela de Música del mismo nombre. En 1991</p>
            <a href="/ocmmg">LEER MÁS</a>
        </div>
      </div>
    </li>
  </ul>
</div>
    <div class="zona4">
        <h2>Monumento<br /> a Sucre</h2>
    </div>
    <blockquote class="zona-quote">
        PLAZA DE LA ADMINISTRACIÓN, Pichincha y Clemente Ballén.
    </blockquote>
</div>
