<main>
<figure class="figure4" style="margin:0;">
  <img src="https://c1.staticflickr.com/9/8110/8532357607_7b7df67379_b.jpg" alt="" class="figure-img" >
</figure>
<figure class="figure5" style="margin:0;">
  <img src="https://c1.staticflickr.com/8/7524/16272806971_dabbf3af6a_b.jpg" alt="" class="figure-img">
</figure>
<figure class="figure6" style="margin:0;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/View-north-west-along-stanage-edge-uk.jpg" alt="" class="figure-img">
</figure>

<div class="info2 leftie">
  <h2>The Title</h2>
  <p>Some text goes here, some text goes here.</p>
  <a href="" class="info-link">Learn More</a>
</div>
</main>
