<div id="bases" class="mid">
<figure class="figure4" style="margin:0;">
  <img src="//res.cloudinary.com/magnvs/image/upload/v1566534115/jvwpcxmnhy84wlmrxdyt.jpg" alt="" class="figure-img" >
</figure>
<figure class="figure5" style="margin:0;">
  <img src="//res.cloudinary.com/magnvs/image/upload/v1542072172/ophaifk4aht6twgmah3b.jpg" alt="" class="figure-img">
</figure>
<figure class="figure6" style="margin:0;">
  <img src="//res.cloudinary.com/magnvs/image/upload/v1533262555/m9xz2ylhco08yrwprcoe.jpg" alt="" class="figure-img">
</figure>

<div class="info1 leftie">
  <h2 class="league-light">Bases de participación</h2>
  <h2 class="league-three">XX EDICIÓN</h2>
</div>
</div>
