<div id="bases" class="mid">
<figure class="figure4" style="margin:0;">
  <img src="https://res.cloudinary.com/magnvs/image/upload/v1533262566/qlyuo17j7jqzp0b9k0fs.jpg" alt="" class="figure-img" >
</figure>
<figure class="figure5" style="margin:0;">
  <img src="https://res.cloudinary.com/magnvs/image/upload/v1533262578/hjm7yvzdrajvd5xdrkr1.jpg" alt="" class="figure-img">
</figure>
<figure class="figure6" style="margin:0;">
  <img src="https://res.cloudinary.com/magnvs/image/upload/v1533262555/m9xz2ylhco08yrwprcoe.jpg" alt="" class="figure-img">
</figure>

<div class="info1 leftie">
  <h2 class="league-light">Bases de participación</h2>
  <h2 class="league-three">XX EDICIÓN</h2>
</div>
</div>
