<div class="mus-anchor">
  <div class="row">
    <div class="col col-6 offset-6" style="padding: 4rem 1.7rem;">

    <h2 class="mus-anch">www.mmdg.site</h2>
    <h2 class="league-sm">Sitio web oficial del Museo Municipal de Guayaquil</h2>
    <p><small>Contiene información sobre sus atractivos culturales, exposiciones y otras actividades exclusivas del museo.</small></p>
      <div class="cta-option">
               <a class="btn btn-premiere" href="//www.mmdg.site" data-ga-category="Outbound links" >
                 <strong>Visitar</strong>
                 <span class=version> www.mmdg.site
                 </span>
               </a>
      </div>
   </div>
  </div>
</div>
