<figure class='full-width' style="margin-bottom:0;margin-top:0;">
  <img class="wide" src="https://cdn.filestackcontent.com/8hcfei3dQuGSe2cCd8BT">
</figure>
<div class="premiere-b">
<div class="row gutters">

  <div class="col col-2">
  </div>

  <div class="col col-8" style="padding:0 40px 50px 40px;">

  <h2 class="league-blue">PROGRAMA</h2>

  <hr />

  <div class="premiere-blue">

  <div class="row">
    <div class="col col-6">

      <p><b>CAPÍTULO I</b></p>

      <h2 class="league-blue-light">MÚSICA TRADICIONAL ECUATORIANA</h2>
        <p><b>MIÉRCOLES 20</b><br />
        Música esmeraldeña y guayaquileña.<br />
        <b>Benjamin Vanegas y Vargas Project Band</b><br />
        MALECÓN 2000 (Losa +6) A la altura de la calle Aguirre</p>
        <p><b>JUEVES 21</b><br /> Música tradicional de la Sierra.<br />
        <b>Juanita Córdova y los Hnos. Gálvez</b>
        <br />AUDITORIO DEL MUSEO MUNICIPAL</p>
        <p><b>VIERNES 22</b><br /> Música de la Sierra y Amazonía.<br />
        <b>Juanita Córdova y los Hnos. Gálvez</b><br />
        AUDITORIO DEL MUSEO MUNICIPAL</p>
        <p>
          <i class="fa fa-music"></i>
        </p>

    </div>

    <div class="col col-6">
      <p><b>CAPÍTULO II</b></p>

      <h2 class="league-blue-light">MÚSICA<br  /> ACADÉMICA</h2>
      <p><b>SÁBADO 23</b><br />
      Música de cámara.<br />
      <b>Orquesta sinfónica de egresados del colegio República de Francia</b><br  />
      AUDITORIO DEL MUSEO MUNICIPAL</p>
      <p><b>LUNES 25<br  />Fundación Saberes y Artes para la Paz</b> <br />AUDITORIO DEL MUSEO MUNICIPAL</p>
      <p><b>MARTES 26<br  /> CINE FORO:</b> J. J. Documental.<br />
      <b>Pianista invitado: Gustavo Vargas</b><br  />
      AUDITORIO DEL MUSEO MUNICIPAL</p>
      <p>
        <i class="fa fa-film"></i>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col col-6">
      <p><b>CAPÍTULO III</b></p>

      <h2 class="league-blue-light">JAZZ &amp; BLUES</h2>
      <p><b>MIÉRCOLES 27<br  /> Lyzbeth Badaraco</b><br/>AUDITORIO DEL MUSEO MUNICIPAL</p>
      <p><b>JUEVES 28<br /> Andrés Noboa</b><br />AUDITORIO DEL MUSEO MUNICIPAL</p>
      <p>
        <i class="fa fa-microphone"></i>
      </p>
    </div>

    <div class="col col-6">
      <p><b>CAPÍTULO IV</b></p>

      <h2 class="league-blue-light">EXPERIMENTAL</h2>
      <p><b>VIERNES 29<br /> Alex Eugenio /
Banda Brava</b><br />AUDITORIO DEL MUSEO MUNICIPAL</p>
      <p><b>SÁBADO 30<br  /> Luis Rueda / Ludovico / Efecto Reflejo / Chajo</b><br />PLAZA COLÓN</p>
      <p>
        <i class="fa fa-music"></i>
      </p>

    </div>
  </div>
  <div style="margin-top:3em;">

    <img class="rounds-2" src="img/musmus2018juana.jpg"/>
    <img class="rounds-2" src="img/musmus2018sm.jpg"/>
    <img class="rounds-2" src="img/musmus2018log.jpg"/>

  <h2 class="league-light"><i class="fa fa-clock-o"></i> TODOS LOS EVENTOS EMPIEZAN A LAS 19H00</h2>
  <p><b>MUSEO MUNICIPAL DE GUAYAQUIL</b></p>
  <h2 class="league-blue-light">20 - 30 JUNIO / 2018</h2>
  <p><b>ENTRADA LIBRE</b></p>
  <p>
    <small>MUSIMUESTRAS <i class="fa fa-copyright"></i>2018</small>
  </p>
</div>

  </div>

 </div><!-- END of col col-8 -->

  <div class="col col-2">
  </div>

</div>
</div>
