<div class="notes-bg">

  <div class="row around leftie">
    <div class="col col-5 notese">
    <h1>PRÓXIMOS CONCIERTOS</h1></div>
    <div class="col col-3 notes">
      <figure style="margin-top: 15px;">
        <img src="//res.cloudinary.com/magnvs/image/upload/v1564366500/l463tovx4jgdu1yetnzw.jpg"/>
      </figure>
      <h2>ORQUESTA DE CÁMARA DEL MUSEO MUNICIPAL DE GUAYAQUIL</h2>
      <p><strong>PARTICIPACIÓN ESPECIAL DE RAFAEL GUZMÁN (Pianista cubano)</strong></p>
      <p><strong>Miércoles 31 de julio / 19h00<br />Auditorio del Museo Municipal</strong></p>
      <p>ENTRADA LIBRE</p>
   </div>
    <div class="col col-3 notes">
      <figure style="margin-top: 15px;">
        <img src="//res.cloudinary.com/magnvs/image/upload/v1564368196/rihyqhy9utewrhdb4trb.jpg"/>
      </figure>
      <h2>ORQUESTA FILARMÓNICA MUNICIPAL DE GUAYAQUIL</h2>
      <p><strong>DIRECTOR TITULAR: DAVID HARUTYUNYAN</strong></p>
      <p><strong>PROGRAMA:</strong>J. Bach, "Concierto para dos violines en Re Menor"; A. Vivaldi,"Concierto para dos trompetas y "Concierto para dos flautas".</p>
      <p><strong>Viernes 2 de agosto / 19h00<br />Auditorio del Museo Municipal</strong></p>
 
      <p>ENTRADA LIBRE</p>
    </div>
  </div>

</div>
