<div class="site-section-video">
  <div class="article-mag-wrap">

    <header class="article-mag-header">
        <h2 class="league-light">Ya tenemos podcast...
        <br />Desde el Museo Municipal</h2>
      <p style="color:#226691">
La Dirección de Cultura del Muy Ilustre Municipio de Guayaquil presenta un encuentro con el ARTE, la HISTORIA y la CULTURA de nuestra ciudad; un encuentro con sus PROTAGONISTAS, desde el Museo Municipal.
      </p>
</header>

  </div>

  <div class="row">

  <div class="col col-1">
  </div>

  <div class="col col-5 leftie">

    <iframe style="margin:0 0 2rem 0;padding: 0 12px;" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/ec7d10da-1378-4213-bc2e-ee92180d43d0?dark=false"></iframe>

    <p style="margin-left:3%;"><small style="color:rgba(255,255,255,.7);">Invitamos a Jaime Ruiz y Melanie Torres, estudiantes de la Espol y gestores del evento "El corazón hecho canción", homenaje al pasillo que incluyó actividades como talleres musicales, exposición de pinturas, presentaciones musicales y danza en el Auditorio del Museo Municipal. Episodio grabado en el Museo Municipal de Guayaquil el 23.AGO.2019 </small></p>
    <p style="margin-left:3%;"><small>También puedes escuchar este episodio y anteriores en:</small></p>

    <div class="pod-brands">
           <p>
           <a href="//podcasts.apple.com/ec/podcast/desde-el-museo-municipal/id1477126077" target="blank"><img style="width:175px;margin-right:17px;"  src="/assets/apple-podcasts.svg"/></a>&nbsp;&nbsp;
           <a href="//desde-el-museo-municipal.simplecast.com" target="blank"><img style="width:165px;" src="/assets/simplecast.svg" /></a>&nbsp;&nbsp;
           <a href="//feeds.simplecast.com/mKKROnE2" target="blank"><img style="width:30px;margin-left:17px;" src="/assets/rss-feed.svg"/></a>
           </p>
    </div>

  </div>
  <div class="col col-6">
  </div>

  </div>
</div>
