<div class="site-section-video">
  <div class="article-mag-wrap">

    <header class="article-mag-header">

        <h2 class="league-light">Ya tenemos podcast... desde el Museo Municipal</h2>
      <p style="color:#226691">
La Dirección de Cultura del Muy Ilustre Municipio de Guayaquil presenta un encuentro con el ARTE, la HISTORIA y la CULTURA de nuestra ciudad; un encuentro con sus PROTAGONISTAS, desde el Museo Municipal.
      </p>
</header>

  </div>

  <div class="row">

  <div class="col col-1">
  </div>

  <div class="col col-5">

    <iframe style="margin:0 0 2rem 0;padding: 0 12px;" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/e144cabf-5000-4216-be88-c992185e9ba7?dark=false"></iframe>

    <p style="color:rgba(255,255,255,.7);">Diálogo con la ganadora del Salón de Julio 2019, Diana Gardeneira, sobre activismo y artes visuales. Episodio grabado en el Museo Municipal de Guayaquil el 14.AGO.2019 </p>
    <p>Tambien puedes escuchar este Podcast en <a href="https://desde-el-museo-municipal.simplecast.com">simplecast.com</a></p>

    <div class="byline" style="margin-bottom:2rem;">
        &#10086;
      </div>

  </div>
  <div class="col col-6">
  </div>

  </div>
</div>
