<div class="site-section-video">
  <div class="article-mag-wrap">

    <header class="article-mag-header">
        <h2 class="league-light">DESDE EL MUSEO MUNICIPAL<br />
        Nuestro podcast semanal</h2>
      <p style="color:#226691">
La Dirección de Cultura del Muy Ilustre Municipio de Guayaquil presenta un encuentro con el ARTE, la HISTORIA y la CULTURA de nuestra ciudad; un encuentro con sus PROTAGONISTAS, desde el Museo Municipal.
      </p>
</header>

  </div>

  <div class="row">

  <div class="col col-1">
  </div>

  <div class="col col-5 leftie">

    <iframe style="margin:0 0 2rem 0;padding: 0 12px;" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/531a0a6b-5fc3-4557-8beb-591eaacff55b?dark=false"></iframe>

    <p style="margin-left:3%;"><small style="color:rgba(255,255,255,.7);">Gracias a la donación del panameño Mario Lewis, la Universidad Andina Simón Bolívar, Sede Ecuador y el Colegio de América, Sede Latinoamericana, con el auspicio de la Municipalidad de Guayaquil, realizaron el rescate y restauración de la película filmada por Carlos Endara Andrade en 1929, que detalla su visita a Guayaquil, el viaje en ferrocarril a Quito y su estancia en la capital. Existen varias fuentes que mencionan la existencia de esta película, pero la consideran perdida. Ahora puede exhibirse muy bien restaurada, aunque su última parte, que corresponde a le llegada del ferrocarril Ibarra, no pudo ser recuperada.</small></p>
    <p style="margin-left:3%;"><small>También puedes escuchar este episodio y anteriores en:</small></p>

    <div class="pod-brands">
           <p>
           <a href="//podcasts.apple.com/ec/podcast/desde-el-museo-municipal/id1477126077" target="blank"><img style="width:175px;margin-right:17px;"  src="/assets/apple-podcasts.svg"/></a>&nbsp;&nbsp;
           <a href="//desde-el-museo-municipal.simplecast.com" target="blank"><img style="width:165px;" src="/assets/simplecast.svg" /></a>&nbsp;&nbsp;
           <a href="//feeds.simplecast.com/mKKROnE2" target="blank"><img style="width:30px;margin-left:17px;" src="/assets/rss-feed.svg"/></a>
           </p>
    </div>

  </div>
  <div class="col col-6">
  </div>

  </div>
</div>
