<!-- <div class="premiere-bg">
  <header class="premiere-header">
      <h1>PRÓXIMOS EVENTOS</h1>
  </header>
  <div class="bg-premiere"></div>
 </div>
-->

<div class="row">

  <div class="col col-6 raw" >
    <figure class="redonda-2" style="mix-blend-mode:lighten;-webkit-filter: opacity(0.3);">
      <img class="rounds" src="/assets/110-round.png"/>
    </figure>
  </div>

  <div class="col col-5" style="background-color:#EC407A;padding:50px 40px 50px 40px;">

  <figure style="position:relative;margin:0;margin-left:auto;margin-right:auto;width:46%;padding-bottom: 30px;">
          <img class="rounds" src="https://cdn.filestackcontent.com/IP8hzvbARRKC6lCYPxmO"/>
  </figure>

  <h2 style="margin: auto 0 .7em 0 !important; padding:0 !important;" class="league-light">GABRIELA GONZALEZ DELLOSSO</h2>

  <div class="premiere">
  <p style="color:#fff;">Gabriela G. Delloso es una artista conocida por sus autorretratos de homenaje y pintura narrativa. Ella es nativa de Nueva York, de ascendencia Cubana y Ecuatoriana; sus raíces artisticas radican en los dos lados de su familia.</p>
<p style="color:#fff;">Los temas de Gabriela mezclan figuras narrativas con psicología contemporánea. Esta combinación ofrece a los espectadores una única interpretación y exposición cultural. Su versatilidad y singular visión se ha materializado en varios sujetos como payasos, novias y autorretratos de homenaje. De sus elementos transformados que envuelven sus autorretratos se dice que toman el giro de Cindy Sherman.</p>
  <p style="color:rgba(255,255,255,1);">Del 16 de agosto al 13 de septiembre / 2018</p>
    <ul>
      <li style="color:rgba(255,255,255,0.5);">SALA DE ARTES TEMPORALES DEL MUSEO MUNICIPAL DE GUAYAQUIL</li>
    </ul>

    <p style="color:rgba(255,255,255,0.5);"><b>SUCRE ENTRE CHILE Y PEDRO CARBO</b>
    </p>

    <p><b>Guayaquil</b></p>

  </div>

  </div>

  <div class="col col-1" style="background-color:#EC407A ;">
  </div>

</div>
