<div class="premiere-b">
<div class="row gutters">

  <div class="col col-2">
  </div>

  <div class="col col-8" >
    <figure style="padding-top:4em;mix-blend-mode:multiply;">
      <img src="https://res.cloudinary.com/magnvs/image/upload/v1521252966/aves_ayerza_ch1ptw.png
"/>
    </figure>
  </div>

  <div class="col col-2">
  </div>

</div>

<div class="row gutters">

  <div class="col col-2">
  </div>

  <div class="col col-8" style="padding:0 40px 50px 40px;">

  <h2 class="league-blue-light">PRESENTACIÓN DE LIBRO DIGITAL</h2>
  <h2 class="league-blue">AVES DE LA COSTA DE ECUADOR <br/><span> de Ricardo Ayerza</span></h2>


  <div class="premiere-blue">

  <div class="row leftie">
    <div class="col col-6">
      <p>La diversidad de especies de aves en el Ecuador es tan grande que no hace falta ser experto, contar con equipo profesional, o aventurarse profundo en la montaña para apreciarla. Sólo debes detenerte a observar y a escuchar.</p>

    </div>

    <div class="col col-6">
      <p><b> Mapa, fotografías y audios</b> para poder disfrutar de una pequeña porción de la avifauna del Ecuador en cualquier lugar del planeta.
      </p>

    </div>
  </div>

  <h2 class="league-blue-light">18 MAYO / 2018</h2>
  <p><b>AUDITORIO DEL MUSEO MUNICIPAL <br/> ENTRADA LIBRE</b></p>
  </div>

 </div><!-- END of col col-8 -->

  <div class="col col-2">
  </div>

</div>

<div class="row" style="margin-top:-30px !important;">

  <div class="col col-3">
  </div>

<div class="col col-6">
<p>
  <small>DESCARGA GRATIS LA VERSIÓN DE iBooks PARA macOS <br  />ADQUIERE LA VERSIÓN IMPRESA EN AMAZON</small>
</p>
<p>
  <a href="https://itunes.com/apps/ibooks"><img style="width:70px"  src="/img/ibooks.svg"/></a>

  <a href="https://www.amazon.com/shorebirds-Ecuador-Aves-costa/dp/1973303590"><img style="width:120px" src="/img/amazon.svg"/></a>
  <a href="https://www.amazon.com/shorebirds-Ecuador-Aves-costa-Spanish-ebook/dp/B076DW9ZDR"><img style="width:110px" src="/img/kindle.svg" /></a>

</p>
</div>

  <div class="col col-3">
  </div>

</div>
</div>
