<div class="premiere-bg">
  <header class="premiere-header">
      <h1>PRÓXIMOS EVENTOS EN EL MUSEO</h1>
  </header>
  <div class="bg-premiere"></div>
 </div>

<div class="row">

  <div class="col col-6 raw" >
    <figure class="redonda" style="mix-blend-mode:normal;">
      <img class="rounds"/>
    </figure>
  </div>

  <div class="col col-5" style="background-color:rgba(46, 87, 103, 0.7);padding:50px 40px 50px 40px;">
  <h2 style="margin: auto 0 0.2em 0 !important; padding:0 !important;" class="league-three">BAQ 2016</h2>
  <h3 style="color:#aaa;">EXPOSICIÓN</h3>
  <h2 style="color:#fefff9;">Marzo / 15 - 31</h2>
  

  <div class="premiere">
  <p>XX Bienal Panamericana de Arquitectura de Quito BAQ 2016 en el marco de las <strong>Jornadas Culturales</strong> en homenaje al arquitecto <strong>Guillermo Cubillo Renella</strong>.
  </p>
    <p><u>Organizan</u>: La Fundación Habitar Humano y el Colegio de Arquitectos de Pichincha.</p>
    <ul>
      <li>SALA DE ARTE CONTEMPORÁNEO DEL MUSEO MUNICIPAL</li>
      <li>Inauguración: Jueves 15 de marzo</li>
      <li>Hora: 18h30</li>
    </ul>
    <p><b>ENTRADA LIBRE</b></p>

    <div class="byline">
        &#10086;
      </div>
  </div>

  </div>

  <div class="col col-1" style="background-color:rgba(46, 87, 103, 0.7)">
  </div>

</div>
