<div class="premiere-bg">
  <header class="premiere-header">
      <h1>PRÓXIMOS EVENTOS EN EL MUSEO</h1>
  </header>
  <div class="bg-premiere"></div>
 </div>

<div class="row">

  <div class="col col-6 raw" >
    <figure class="redonda">
      <img class="rounds" src="https://res.cloudinary.com/magnvs/image/upload/v1518405019/escudo-ts_zwpwwo.png"/>
    </figure>
  </div>

  <div class="col col-5" style="background-color:rgba(46, 87, 103, 0.7);padding:50px 40px 50px 40px;">
  <h2 style="margin: auto 0 0.2em 0 !important; padding:0 !important;" class="league-three">Tierra Santa en Ecuador</h2>
  <h3 style="color:#aaa;">CONFERENCIA</h3>
  <h2 style="color:#fefff9;"> Lunes 19 de febrero</h2>
  

  <div class="premiere">
  <p>En el marco del Encuentro Internacional de Comisarías de Tierra Santa.
  </p>
    <p><u>Organizan</u>: Comisaría de Tierra Santa en Ecuador y Radio San Francisco.</p>
    <ul>
      <li>AUDITORIO DEL MUSEO MUNICIPAL</li>
      <li>Hora: 16h00</li>
    </ul>
    <p><b>ENTRADA LIBRE</b></p>

    <div class="byline">
        &#10086;
      </div>
  </div>

  </div>

  <div class="col col-1" style="background-color:rgba(46, 87, 103, 0.7)">
  </div>

</div>
