<div class="premiere-c">
  <main style="margin-top:0;">
  <div class="info1 leftie">
    <h2 class="league-sm">&laquo;HISTORIAS, LEYENDAS Y TRADICIONES EN EL GUAYAQUIL COLONIAL&raquo;</h2>
    <p style="font-size:2rem;color:rgba(255,255,255,.9);">27-31 AGOSTO 2018<p>
    <p style="letter-spacing: 2px">SALÓN DE ACTOS PEDRO CARBO DE LA BIBLIOTECA MUNICIPAL DE GUAYAQUIL</p>

  </div>

  <figure class="figure1" style="margin:0;">
    <img src="//res.cloudinary.com/magnvs/image/upload/v1534964620/charton-2_ucis3x.jpg" alt="" class="figure-img">
  </figure>
  <figure class="figure2" style="margin:0;">
    <img src="//res.cloudinary.com/magnvs/image/upload/v1534964621/charton-1_bdcj4k.jpg" alt="" class="figure-img">
  </figure>
  <figure class="figure3" style="margin:0;">
    <img src="//res.cloudinary.com/magnvs/image/upload/v1534964621/charton_vze28y.jpg" alt="" class="figure-img">
  </figure>
</main>

<div class="row gutters">

  <div class="col col-2">
  </div>

  <div class="col col-8" style="padding:0 40px 50px 40px;">

    <!-- <figure style="padding-top:.5em;margin-bottom:-3em!important; mix-blend-mode:multiply">
      <img class="rounds" style="width:240px;" src="/img/sj2018.jpg"/>
    </figure> 

  <img class="salon-logo" src="assets/jn-18.svg"/>-->

  <div class="premiere-blue">
    <p><span class="suscrib" style="font-weight:bold; font-size: 2em;">Ciclo de conferencias</span></p>
    <p>Contamos con el valioso aporte de miembros de la <b>Academia Nacional de Historia</b> y de la <b>Confraternidad de historiadores "Camilo Destruge"</b>. </p>

  <div class="row leftie">
    <div class="col col-6">
      <ul>
        <li>Lunes 27: <b>Arq. Melvin Hoyos Galarza</b><br/>&laquo;LEYENDAS COLONIALES&raquo;.</li>
        <li>Martes 28: <b>Arq. Antonieta Placios Jara</b><br/>&laquo;DE LAS CUALIDADES NATURALES Y MORALES DE LOS HABITANTES DE GUAYAQUIL EN TIEMPOS DE LA COLONIA&raquo;.</li>
      </ul>
    </div>

    <div class="col col-6">
        <ul>
            <li>Miércoles 29: <b>Lcdo. Gabriel Paredes</b><br/>&laquo;VIDA Y MILAGROS DEL MONO DE CHONGÓN&raquo;.</li>
            <li>Jueves 30: <b>Lcdo. Germán Arteta Vargas</b><br/>&laquo;LEGADO DE LAS TRADICIONES COLONIALES&raquo;.</li>
            <li>Viernes 31: <b>Arq. Melvin Hoyos Galarza</b><br/>&laquo;LEYENDAS REPUBLICANAS&raquo;.</li>
          </ul>

    </div>
  </div>

  <p><b>17H00<br />Biblioteca Municipal de Guayaquil<br/>Av. Diez de Agosto entre Chile y Pedro Carbo</b></p>
  </div>
  
 </div><!-- END of col col-8 -->

  <div class="col col-2">
  </div>

</div>
</div>

<div class="gridz">
   <div class="element">
  
   </div>
   <div class="element-1">
      <div class="wow bounceInLeft">
          <figure class="full-width">
                <img class="wide-alt" src="assets/faal-2018black.svg" alt="" />
          </figure>
        </div>
        <h2 class="league">INSCRIPCIONES ABIERTAS</h2>
        <p class="bold" style="color:#9a0078">HASTA EL 27 DE SEPTIEMBRE DEL 2018</p>
        <div class="cta-option-premiere" style="margin-bottom:1.5em;">
            <a class="btn btn-premiere" href="/faal" target="blank" data-ga-category="outbound links">
               INSCRÍBETE AQUÍ
            </a>
          </div>
    </div>
    <div class="element-2">
        
    </div>
 </div>

