<!-- <figure  class='full-width' style="margin-bottom:0!important;margin-top:0!important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1561850449/cjrggawnzeilalxlbcdc.jpg" />

</figure>-->

<div class="premiere-b">

<div class="row">

  <div class="col col-2">
  </div>

<div class="col col-8" style="padding:25px;">
  <img style="width:400px;" src="assets/teatrom-19.svg"/>
  <h2 class="league-light">TEATROMUESTRAS 2019</h2>
  <h2 class="league-sm-white">CAPÍTULO I - DRAMA</h2>
</div>

  <div class="col col-2">
  </div>

</div>

<div class="row gutters" style="margin: 0 4em 0 4em;padding-bottom: 5em;">

  <div class="col col-4">
  <h3 style="color:brown;">JUEVES 7</h3>
  <p><strong>Grupo</strong> - Ceve Fasinarm</p>
  <p><strong>Obra</strong> - ¿Quién es?</p>
  <p><strong><i class="fa fa-clock-o"></i> 19H00 / Museo Municipal</strong></p>

  </div>
  <div class="col col-4">
  <h3 style="color:brown;">VIERNES 8</h3>
  <p><strong>Autor</strong> - Delia Pin</p>
  <p><strong>Obra</strong> - La canoera</p>
  <p><strong><i class="fa fa-clock-o"></i> 19H00 / Museo Municipal</strong></p>

  </div>
  <div class="col col-4">
  <h3 style="color:brown;">SÁBADO 9</h3>
  <p><strong>Autores</strong> - Miguel Palacios y P. Albarracín</p>
  <p><strong>Obra</strong> - Erodita</p>
  <p><strong><i class="fa fa-clock-o"></i> 19H00 / Museo Municipal</strong></p>

  </div>

</div><!-- end row gutters CONFERENCISTAS -->

</div>
