<!-- <div class="gridz">
   <div class="element">
   </div>
   <div class="element-1">
    </div>
 </div>-->

<div class="premiere-b">
<div class="row gutters">

  <div class="col col-2">
  </div>

  <div class="col col-8" style="margin:50px 40px 10px 40px;">

  <img class="salon-logo" src="assets/jn-18.svg"/>

  <div class="premiere-kaki">
  <p style="border:1px solid #9bc5c3; color:skyblue;"><span class="suscrib" style="font-weight:bold; font-size: 2em; color:#fff;">Conferencias</span><br /><b>AUDITORIO DEL MUSEO MUNICIPAL</b><br/><b>6 - 7 SEPTIEMBRE 2018</b></p>
  <div class="row">
    <div class="col col-6" style="margin-bottom:3em;">
        <p><span class="suscrib" style="font-weight:bold; font-size: 2em;color:#fff;">Jueves</span></p>
        <p><b>18H00</b>
          <br/>&laquo;La era de la post verdad en la numismática&raquo;<br/>
          <b>Oswaldo Rodríguez Jr. (Brasil)</b><br/>Sociedad numismática brasileña</p>
         <p><b>18H45</b>
          <br/>&laquo;La Casa de la Moneda Nacional de Popayán en Pasto 1822&raquo;<br/>
          <b>Carlos Iza Terán</b><br/>Vicepresidente del Comité Internacional Arequipa 2018 por Ecuador</p>
          <p><b>19H30</b>
            <br/>&laquo;Billetes del norte peruano en los siglo XIX y XX&raquo;<br/>
            <b>César Corrales López (Perú)</b><br/>Presidente del Comité Internacional Arequipa 2018</p>
    </div>

    <div class="col col-6" style="margin-bottom:3em;">
        <p><span class="suscrib" style="font-weight:bold; font-size: 2em;color:#fff;">Viernes</span></p>
        <p><b>18H00</b>
          <br/>&laquo;El tesoro de la Capitana y sus monedas&raquo;<br/>
          <b>Roberto Mastalir Divisek</b><br/>Numismático</p>
         <p><b>18H45</b>
          <br/>&laquo;Los últimos pesos del Ecuador: La acuñación de 1862&raquo;<br/>
          <b>Melvin Hoyos Galarza</b><br/>Director de Cultura del M. I. Municipio de Guayaquil</p>

    </div>
  </div>
  
  </div>

 </div><!-- END of col col-8 -->

  <div class="col col-2">
  </div>

</div>
</div>
