<div class="premiere-c">
  <main style="margin-top:0;">
  <div class="info1 leftie" style="padding:0;">
      {% for post in site.posts offset: 0 limit: 1 %}
    <div class="top-anchor">
      {% if post.image %}
    <a href="{{ post.url }}">
      <figure><img src="{{ post.image }}" alt="Fotografía de {{ post.title }}"></figure></a>
      {% endif %}
    <h2 class="league-sm">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="league-gray">{{ post.subtitle }}</h3>
    {% endif %}
    <p> {{ post.excerpt }} <p>
    <p> {{ post.comment }} </p>
    <p> <i class="fa fa-arrow-circle-right"></i> <a href="{{post.url}}">{{ post.ffw }}</a> </p>
    </div>
    {% endfor %}
  </div>

    <div class="info3">
      {% assign capsulas = site.capsulas | sort: 'listing-priority' %}
      {% for capsulas in capsulas limit: 1 %}

      <div class="top-anchor1">
        <figure class="figure-main">
          {% if capsulas.image %}
          <img class="figure-img" src="{{ capsulas.image }}" alt="Fotografía de {{ capsulas.title }}">
          {% endif %}
        </figure>
      <div class="leftie">
          <h2 style="text-transform: uppercase;" class="league-sm">{{ capsulas.title }}</h2>
          <p>{{ capsulas.content }}</p>
          {% if capsulas.day %}
          <h2 style="text-transform: uppercase;" class="league-sm">{{ capsulas.day }} {% endif %}{% if capsulas.month %} <span style="font-size:0.9em;">{{ capsulas.month }}</span></h2>
          {% endif %}
          <ul>
                {% if capsulas.time %}
                    <li><p><i class="fa fa-clock-o"></i> {{ capsulas.time }} {% endif %}
                {% if capsulas.place %}
                    &nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i> {{ capsulas.place }}</p></li>{% endif %}
                {% if capsulas.link %}
                    <li><i class="fa fa-arrow-circle-right"></i><a href="{{ capsulas.link }}"> Más información</a></li>{% endif %}
          </ul>
      </div>
<div class="cta-option" style="padding-bottom:30px!important">
  <p class="leftie" style="font-size:.87053rem;"><strong>Conciertos de temporada:</strong> El último miércoles de cada mes en el Auditorio del MUSEO MUNICIPAL a las 19H00. <br /> <br /><strong>Conciertos al aire libre:</strong> Segundo y cuarto sábados de cada mes en la glorieta del PARQUE SEMINARIO a las 11H00.</p>
        <a class="button outline" href="/ocmmg" role="button"> Conoce más sobre la Orquesta de Cámara
        </a>

<!-- <a class="btn btn-premiere" href="//mmdg-press.netlify.com/bases-genios.html" target="blank" data-ga-category="outbound links">
           BASES DEL CONCURSO
        </a>-->
</div>

    </div>
        {% endfor %}

  </div>

<div class="info4 leftie" style="padding:0;">
  {% assign person = site.people | sort: 'listing-priority' %}
  {% for person in person limit: 1 %}


  <div class="top-anchor">
  {% if person.image %}
  <figure><img src="{{ person.image }}" alt="Fotografía de {{ person.title }}"></figure>
  {% endif %}

  <h2 class="league-sm">{{ person.title }}</h2>

  {% if person.subtitle %}
  <h3 class="league-gray">{{ person.subtitle }}</h3>
  {% endif %}

  <p>{{ person.excerpt }}<p>

  {% if person.day %}
  <h2 style="text-transform: uppercase;" class="league-sm">{{ person.day }} {% endif %}{% if person.month %} <span style="font-size:0.9em;">{{ person.month }}</span></h2>
    {% endif %}
  <div>
          {% if person.time %}
              <p><i class="fa fa-clock-o"></i> {{ person.time }}</p> {% endif %}
          {% if person.place %}
              <p><i class="fa fa-chevron-circle-right"></i> {{ person.place }}</p>
    {% endif %}
  <p><i class="fa fa-arrow-circle-right"></i> <a href="{{person.url}}">Más información</a></p>
  </div>
  {% endfor %}
</div>
</div>
</main>
</div>

</div> <!-- END head-news class -->
