<div style="background-color:#fff;" class="row gutters">
  <div class="col col-12">
    <h2 class="league-two" >PROGRAMA
  </h2>
</div>
  <div class="col col-4 item">
    <h3>Capítulo 1
        <br  /><span class="star">&#x2605;</span><br  />
        La revolución Pop&mdash;Disco
    </h3>
    <h5>Viernes 2 | 19H00 <br /> Malecón 2000</h5>
    <h4>El rey del pop</h4>
    <p>Seis músicos en escena, incluye arreglos para cada tema.</p>
    <h3><i class="fa fa-music"></i></h3>
    <h5>Sábado 3 | 19H00 <br /> Museo Municipal</h5>
    <h4>Historia de la música disco</h4>
    <p>Willy Wong and The Brothers.</p>
  </div>

  <div class="col col-4 item">
    <h3>Capítulo 2
      <br  /><span class=star>&#x2605;</span> <br  />
      Baladas y boleros
    </h3>
    <h5>Lunes 5 | 19H00 <br /> Museo Municipal</h5>
    <h4>Baladas latinoamericanas</h4>
    <p>Tributo a José José, Rocío Jurado, Rocío Durán y Juan Gabriel.</p>
  </div>

  <div class="col col-4 item">
    <h3>Capítulo 3
      <br  /><span class=star>&#x2605;<br  />
      </span> Rock latino
    </h3>
    <h5>Martes 6 | 19H00 <br /> Museo Municipal</h5>
    <h4>El rock latino de los 80</h4>
    <p>Tributo a Soda Estéreo, Charly García, Los Prisioneros y Los Ilegales.</p>
  </div>
  </div>

  <div style="background-color:#fff;" class="row gutters">
    <div class="col col-12">
      <h3 class="blugray"><i class="fa fa-chevron-down fa-lg"></i></h3>
  </div>
  <div class="col col-4 item">
    <h3>Capítulo 4
      <br  /><span class=star>&#x2605;<br  />
      </span> Salsa y merengue
    </h3>
    <h5>Miércoles 7 | 19H00 <br /> Museo Municipal</h5>
    <h4>Los grandes de la Salsa</h4>
    <p>Tributo a Eddy Santiago, Joe Arroyo, Willie Colón.</p>

    <h3><i class="fa fa-film"></i> Cine foro
    </h3>
    <h5>Miércoles 7 | 19H00 <br /> Museo Municipal</h5>
    <h4>El Disco de los 80</h4>
    <p>Dj invitado</p>

  </div>

  <div class="col col-4 item">
    <h3>Capítulo 5
      <br  /><span class=star>&#x2605;<br  />
      </span> Rock ecuatoriano
    </h3>
    <h5>Jueves 8 | 19H00 <br /> Museo Municipal</h5>
    <h4>La escena nacional</h4>
    <p>Tributo a las bandas ecuatorianas de los 80.</p>

    <h3><i class="fa fa-film"></i> Cine foro
    </h3>
    <h5>Jueves 8 | 19H00 <br /> Museo Municipal</h5>
    <h4>El jazz de los 80</h4>
    <p>Pianista invitado</p>
  </div>

  <div class="col col-4 item">
    <h3>Capítulo 6
      <br  /><span class=star>&#x2605;<br  />
      </span> Rock inglés
    </h3>
    <h5>Viernes 9 | 19H00 <br /> Museo Municipal</h5>
    <h4>El Glam</h4>
    <p>Queen, George Michael.</p>
    <h3><i class="fa fa-music"></i></h3>
    <h5>Viernes 9 | 19H00 <br /> Malecón 2000</h5>
    <h4>Rock psicodélico</h4>
    <p>Pink Floyd</p>
  </div>

</div> <!-- End site section-row-->
