<div class="site-section site-section-video">
  <div class="container fauno-bg">
<h2 class="league-five">58º SALÓN DE JULIO <br  />&laquo;FUNDACIÓN DE GUAYAQUIL&raquo;
</h2>
    <div style="padding-left:0;color:#1a1a1a;" class="grid">
      <div class="grid-cell-left">
        <figure class="wow bounceInLeft" >
          <img src="img/aficheSJ.jpg" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);border: 7px solid rgba(255,255,255,0.5);"/>
        </figure>
      </div>
      <div class="grid-cell-left">
        <h4><i class="fa fa-paint-brush"></i>&nbsp; INSCRIPCIONES</h4>
        <h5><i class="fa fa-calendar"></i>&nbsp; HASTA EL 26 DE JUNIO DEL 2017</h5>
        <p>
          <strong>El Salón de Julio </strong>se ha establecido como uno de los concursos de mayor resonancia, expectativa y relevancia de las artes visuales del Ecuador, promoviendo y difundiendo la actualidad de la tradición pictórica nacional.
        </p>
        <p>
            <strong>El Salón de Julio </strong> otorgará tres premios adquisición por un valor total de <strong>$20.000 </strong> &mdash;viente mil dólares americanos&mdash;.
        </p>
        <p>
          <small><b>Museo Municipal de Guayaquil &copy;2017</b></small>
        </p>
      </div>
    </div>
    <div class=cta-option>
      <a class="btn btn-alt" href="https://www.salondejulio.com">MÁS INFORMACIÓN
      </a>
    </div>
    <a href="https://www.salondejulio.com"><figure>
    <img width="175" src="/img/desk.svg"/>
    </figure>
    </a>
  </div>
</div><!-- end site-section with grid -->
