<div class="site-section triangular" style="background-color:lightslategray; padding-bottom: 0;margin-bottom: -3px;">
<h2 class="animosa">&iexcl;ESCÚCHANOS EN LÍNEA&excl;</h2>

<div class="row">

  <div class="col col-6" style="background-color:rgba(238,238,238,.6);">
      <div style="color:#1a1a1a;" class="grid">
          <div class="grid-cell-left">
            <figure class="wow bounceInLeft" >
              <img src="assets/dosis.svg"/>
            </figure>
          </div>
          <div class="grid-cell-left">
            <h4><i class="fa fa-calendar"></i>&nbsp; MARTES</h4>
            <h5><i class="fa fa-clock-o"></i>&nbsp; 16h00 - 17h00</h5>
            <p>
                <i class="fa fa-paint-brush"></i> <strong>Dosis cultural</strong> nos invita a conocer más sobre los temas de actualidad en el ámbito de la cultura y sus manifestaciones tales como las artes visuales, la literatura, el teatro y la danza, entre otras.
            </p>
            <p>
                El segmento <strong>Museo Arte y Ciudad </strong> te mantendrá informado sobre la Agenda de Eventos Culturales en la ciudad de Guayaquil.
            </p>
            <p>
                <strong>Locución: </strong> Nicole Ruiz, Jeanine Figueroa, Jhoselyn Pincay, estudiantes de la carrera de Comunicación Social de la UPS. <strong>Participan: </strong> Peggy Artieda y Fernando Mayorga de la Dirección de Cultura.
            </p>
            <p><strong>En colaboración con:</strong></p>

            <figure >
              <img style="width:250px;padding-left:0!important;" src="assets/ups.png"/>
            </figure>

            <p>
              <small><b>Universidad Politécnica Salesiana | Museo Municipal de Guayaquil &copy;2019</b></small>
              <br />
              <br />
              <b>ESCUCHA NUESTRO PROGRAMA EN:</b>
            </p>

            <a class="button-animated" href="http://www.upsenlinea.net">
              <img class="colored" src="assets/ups-net.png" /></a>

          </div>
        </div>
  </div><!-- end col-6 -->

  <div class="col col-6" style="border-left:.2em slategray dotted; background-color:rgba(255,255,255,.4);">
      <div style="color:#1a1a1a;" class="grid">
          <div class="grid-cell-left">
            <figure class="wow bounceInRight" >
              <img src="assets/tes-online.svg"/>
            </figure>
          </div>
          <div class="grid-cell-left">
            <h4><i class="fa fa-calendar"></i>&nbsp; LUNES</h4>
            <h5><i class="fa fa-clock-o"></i>&nbsp; 16h30 - 17h30</h5>
            <p>
                <i class="fa fa-paint-brush"></i> <strong>TES OnLine </strong> en colaboración con la Dirección de Cultura del M. I. Municipio de Guayaquil te invitan a escuchar su <strong>Segmento Cultural </strong> para estar al día con la Agenda de Eventos en la ciudad.
            </p>
            <p>
                El Segmento Cultural retorna para una nueva temporada a partir de  <strong>Lunes 4 de febrero </strong> y también lo podrás ver en YouTube.
            </p>
            <p>
                    <strong>Locución en off: </strong> Iván Oviedo, docente del Tecnológico Espíritu Santo. <strong>Participan: </strong> Peggy Artieda y Fernando Mayorga de la Dirección de Cultura.
            </p>
            <p><strong>En colaboración con:</strong></p>
            <figure >
              <img style="width:216px;padding-left:0!important;" src="assets/tes.png"/>
            </figure>
            <p>
              <small><b>Tecnológico Espíritu Santo | Museo Municipal de Guayaquil &copy;2019</b></small>
            </p>
            <div class="cta-option">
              <a class="btn btn-alt" href="https://www.youtube.com/channel/UCOxMYvccT0AXfIVIN8IkC6Q"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube
              </a>
            </div>
          </div>
        </div>

  </div><!-- end col-6 -->

</div><!-- end row -->
</div><!-- end site-section -->
