<div class="site-section-head" style="background-color:rgb(240,240,240);">

<div class="last-main-title">
  <h1 class="wow fadeInUp">Museo Arte y Ciudad</h1>
  <h2 class="wow fadeInUp">noticias destacadas <span style="font-size:1.8rem;"><i class="fa fa-star-o" aria-hidden="true"></i></span></h2>
</div>

<div class="container"> 
<div class="row gutters leftie">
    <div class="col col-12 quickie">
     <script src="https://unpkg.com/import-doc/dist/import-doc/import-doc.js"></script><import-doc src="https://api.importdoc.com/document?id=hLmYwyFRPhACnvekQq9B"></import-doc>
    </div>
</div>
</div>

</div>
