<div id="registro" class="site-section-head">
  <h2 class="league-three">Inscripciones<br /><span style="font-size: 0.7em;">hasta el 27 de septiembre de 2018</span></h2>
  <ul class="in-the-wild">
    <li>
      <h3>1. Revisa las <a href="#bases">bases de participación</a> que se incluyen en la convocatoria al XIX Festival de Artes al Aire Libre &mdash; FAAL &laquo;Independencia de Guayaquil&raquo;</h3>
      <p>Reúne la <strong>documentación del solicitada</strong> de acuerdo con la categoría en la que vas a participar.</p>
    </li>
    <li>
      <h3>2. Descarga e imprime el <a href="//cdn.filestackcontent.com/PwS7RclGRFOpiRv6oVR9">formulario de inscripción</a>; llénalo, fírmalo y adjunta una fotografía tamaño carnet.</h3>
      <p>La documentación solicitada deberá ser presentada, en las oficinas del <strong>Museo Municipal</strong> (Chile, entre Av. 10 de Agosto y Sucre) hasta las 17h00 del día jueves <strong>27 de septiembre de 2018</strong>.</p>
    </li>
    <li>
      <h3>3. O si deseas, accede al <a href="//www.cognitoforms.com/None1533/registroenlinea">registro digital</a> en línea.</h3>

    </li>
    <li>
    <h3>4. Revisa y pon atención a las fechas incluídas en el <a href="/crono-faal">cronograma</a> del FAAL</h3>
    <p>Durante las reuniones previas al festival se procederá a la entrega de las credenciales para los participantes</p>
    </li>
   </ul>
  <div class="cta-option">
    <a class="btn btn-download" href="//cdn.filestackcontent.com/PwS7RclGRFOpiRv6oVR9" data-ga-category="Inbound links">
      <strong>Formulario
      </strong>
      <span class="version"> de inscripción
      </span>
    </a>
  </div>

      <div class="cta-option" style="margin-bottom: 70px !important;">
        <a class="btn btn-download" href="//www.cognitoforms.com/None1533/registroenlinea" data-ga-category="Outbound links" >
          <strong>Registro
          </strong>
          <span class=version>digital
          </span>
        </a>
      </div>


  </div>
