<div>
  <h2 class="league-three">&star; <br />NUESTRO AGRADECIMIENTO
  </h2>

  <ul class="bxslider">
  <li><img src="//cdn.filestackcontent.com/LJrpp02rRDOyL8t0AEdn" /></li>
  <li><img src="//cdn.filestackcontent.com/f6hudJPiSHqNs6ioXCpx" /></li>
  <li><img src="//cdn.filestackcontent.com/ADgOl1CVQtyDrw3d6syQ" /></li>
  <li><img src="//cdn.filestackcontent.com/1ehLj1XtSsebs8s4b5u2" /></li>
</ul>

  <figure  class='full-width' style="margin-bottom:0 !important;">
    <img class="wide" src="//cdn.filestackcontent.com/x88GTwKSREiGkZHQzaaT"/>
  </figure>
</div>
