<div id="snips">
<div class="container snippets">
<div >
<svg width="50" height="75" class="Iconx Icon--47" aria-hidden="true">
            <use xlink:href="/IMG/icn.svg#47"></use>
      </svg>
      <p>Las fuerzas de la División Protectora de Quito avanzaron al interior enfrentándose con los realistas en dos batallas casi sucesivas: Camino Real -9 de Noviembre- y Huachi -22 de Noviembre-.  </p>
</div>
<div >
<svg width="50" height="75" class="Iconx Icon--tel" aria-hidden="true">
                <use xlink:href="/IMG/icn.svg#tel"></use>
          </svg>
      <p>Las fuerzas de la División Protectora de Quito avanzaron al interior enfrentándose con los realistas en dos batallas casi sucesivas: Camino Real -9 de Noviembre- y Huachi -22 de Noviembre-.  </p>
</div>
</div>
</div>
