<div class="last-main-title astro" id="tm-18">
        <h1 class="wow fadeInUp">DICIEMBRE</h1>
        <h2 class="wow fadeInUp">Cronograma de presentaciones<span style="font-size:1.8rem;"><i class="fa fa-star-o" aria-hidden="true"></i></span></h2>
</div>

<div class="site-section-head">
    <div class="container">
    <table class="striped leftie">
    <thead>
        <tr style="color:brown;">
        <th class="w10">FECHA</th>
        <th class="w10"></th>
        <th class="w20">ARTISTAS</th>
        <th class="w60">OBRA</th>
        </tr>
    </thead>
    <tr>
        <td colspan="2"><b>Viernes 7</b></td>
        <td class="w20"><b>Gerson Quinde</b></td>
        <td class="w60"><b>Última función</b> - CLOWN</td>
    </tr>
    <tr>
        <td colspan="2"><b>Lunes 10</b></td>

        <td class="w20"><b>Benicio Fuentes <br />Andrés Otero</b></td>
        <td class="w60"><b>Otra vez Fausto</b></td>

    </tr>
    <tr>
        <td colspan="2"><b>Martes 11</b></td>
        <td class="w20"><b>Luis Fernando García</b></td>
        <td class="w60"><b>Cordiales enemigos</b></td>
    </tr>
    <tr>
        <td colspan="2"><b>Miércoles 12</b></td>
        <td class="w20"><b>Pedro Ortiz <br />Gino Freire</b></td>
        <td class="w60"><b>¡Tu madre!</b> </td>
    </tr>
    <tr>
        <td colspan="2"><b>Jueves 13</b></td>
        <td class="w20"><b>Grupo Cast</b></td>
        <td class="w60"><b>Asesinato en el Hotel Express</b> </td>
    </tr>
    <tr>
        <td colspan="2"><b>Viernes 14</b> / 19h00</td>
        <td class="w20"><b>Grupo Cast</b></td>
        <td class="w60"><b>Pizza Duck Gord</b></td>
    </tr>
    <tr>
            <td colspan="2"><b>Viernes 14</b> / 19h20</td>
            <td class="w20"><b>Grupo Danzarte</b></td>
            <td class="w60"><b>Viejo de mierr</b></td>
        </tr>
    <tr>
        <td colspan="2"><b>Lunes 17</b></td>
        <td class="w20"><b>Adrián Avilés</b></td>
        <td class="w60"><b>Monólogo</b></td>
    </tr>
    <tr>
        <td colspan="2"><b>Martes 18</b> / 19h00</td>
        <td class="w20"><b>Grupo Cast</b></td>
        <td class="w60"><b>Call Center</b> Microteatro</td>
    </tr>
    <tr>
        <td colspan="2"><b>Martes 18</b> / 19h20</td>
        <td class="w20"><b>Grupo de teatro de Olón</b></td>
        <td class="w60"><b>Cuatro micro obras de Realismo Mágico de la comuna Olón</b></td>
    </tr>
    <tr>
        <td colspan="2"><b>Miércoles 19</b></td>
        <td class="w20"><b>Fernando Villao</b></td>
        <td class="w60"><b>El guardia Piguavé</b></td>
    </tr>
    </body>
    <tfoot>
        <tr >
        <td style="background-color:#ffb100!important; color:#1a1a1a;" colspan="4">Todas las presentaciones se realizarán en el AUDITORIO del Museo Municipal de Guayaquil a las 19H00<br />Se recomienda llegar 15 minutos antes de la hora de inicio.<br /><b>ENTRADA LIBRE</b></td>
        </tr>
    </tfoot>
    </table>
    </div>
    </div>
