<div class="site-section-head" style="background-color:#f7f7f7;">
  <div class="row">
    <div class="col col-12">
      <a href="//www.teatrocentrodearte.org/"><img class="tca" src="/assets/tca.svg"/></a>
      <h3>DESCUBRE NUESTROS</br><span style="font-weight:400;">PRÓXIMOS </span>EVENTOS</h3>
      <p><a href="//www.teatrocentrodearte.org/" class="button outline" role="button"> <i class="fa fa-globe"></i> Sitio oficial</a></p>
      <figure  class='full-width' style="margin-bottom:0 !important;mix-blend-mode:darken;">
        <img class="wide" src="//cdn.filestackcontent.com/unn8yaznQYinlOg3mGdF" />
      </figure>
    </div>
  </div>
</div>
