<div class="site-section-head" >
<h2 class="league-two">TEATROMUESTRAS 2017</h2>
<h2 class="league-five">DRAMA</h2>
  <div class="container">
  <div class="row gutters">
    <div class="col col-3">
      <figure>
        <img class="shadow" src="img/cuco.jpg" />
      </figure>
    <h3 style="color:brown;">VIERNES 10</h3>
    <h3>&laquo;Cuco&raquo; - Mimo dramático</h3>
    <p><strong>AGRUPACIÓN TOC</strong></p>
    </div>
    <div class="col col-3">
      <figure>
        <img class="rounds" src="img/perro.jpg" />
      </figure>
    <h3 style="color:brown;">SÁBADO 11</h3>
    <h3>&laquo;La casa del perro&raquo;</h3>
    <p><strong>EL HOMBRE DE LA LUNA</strong></p>
    </div>
    <div class="col col-3">
      <figure>
        <img class="shadow" src="img/luciernaga.jpg" />
      </figure>
    <h3 style="color:brown;">LUNES 13</h3>
    <h3>&laquo;Luciérnaga&raquo; - Monólogo</h3>
    <p><strong>LUISA CUESTA</strong></p>
    </div>
    <div class="col col-3">
      <figure>
        <img class="rounds" src="img/angelines.jpg" />
      </figure>
    <h3 style="color:brown;">MARTES 14</h3>
    <h3>&laquo;Angelines Fernández&raquo;</h3>
    <p><strong>LUIS RUEDA Y PEDRO ORTIZ</strong></p>
    </div>
  </div><!-- end row gutters TEATROMUESTRAS 1 -->

  <h2 class="league-five">EXPERIMENTAL</h2>
    <div class="row gutters">

      <div class="col col-3">
        <figure>
          <img class="rounds" src="img/4820.jpg" />
        </figure>
      <h3 style="color:brown;">MIÉRCOLES 15</h3>
      <h3>&laquo;4820&raquo; - Teatro de improvisación</h3>
      <p><strong>ÁNGEL LARGO Y FABRICIO MANTILLA</strong></p>
      </div>
      <div class="col col-3">
        <figure>
          <img class="shadow" src="img/bernarda.jpg" />
        </figure>
      <h3 style="color:brown;">JUEVES 16</h3>
      <h3>&laquo;La casa de Bernarda Alba&raquo;</h3>
      <p><strong>GRUPO "ANANDA"</strong></p>
      </div>
      <div class="col col-3">
        <figure>
          <img class="rounds" src="img/conejo.jpg" />
        </figure>
      <h3 style="color:brown;">VIERNES 17</h3>
      <h3>&laquo;Ella coneja&raquo;</h3>
      <p><strong>JULIÁN MARTÍNEZ</strong></p>
      <h3>&laquo;La rata vestida de mariachi&raquo;</h3>
      <p><strong>GRUPO "EL HOMBRE DE LA LUNA"</strong></p>
      </div>
      <div class="col col-3">
        <figure>
          <img class="shadow" src="img/traviata-1.jpg" />
        </figure>
      <h3 style="color:brown;">SÁBADO 18</h3>
      <h3>&laquo;La Traviata&raquo;</h3>
      <p><strong>MICHY ZELAYA</strong></p>
      </div>
    </div><!-- end row gutters TEATROMUESTRAS 2 -->

    <h2 class="league-five">COMEDIA</h2>
      <div class="row gutters">
        <div class="col col-3">
          <figure>
            <img class="shadow" src="img/gino.png" />
          </figure>
        <h3 style="color:brown;">LUNES 20</h3>
        <h3>&laquo;Stand up&raquo;</h3>
        <p><strong>GINO FREIRE</strong></p>
        </div>
        <div class="col col-3">
          <figure>
            <img class="rounds" src="img/anchundia.jpg" />
          </figure>
        <h3 style="color:brown;">MARTES 21</h3>
        <h3>&laquo;Stand up&raquo;</h3>
        <p><strong>DANIELA ANCHUNDIA</strong></p>
        </div>
        <div class="col col-3">
          <figure>
            <img class="shadow" src="img/cast.jpg" />
          </figure>
        <h3 style="color:brown;">MIÉRCOLES 22</h3>
        <h3>&laquo;Comedia urbana&raquo;</h3>
        <p><strong>CAST</strong></p>
        </div>
        <div class="col col-3">
          <figure>
            <img class="rounds" src="img/manuco.jpg" />
          </figure>
        <h3 style="color:brown;">JUEVES 23</h3>
        <h3>&laquo;¡Quién me quita lo bailado!&raquo; - Con Manuco</h3>
        <p><strong>LUCHO MUECKAY</strong></p>
        </div>
      </div><!-- end row gutters TEATROMUESTRAS 3 -->
  </div><!-- end container -->
<hr />
</div><!-- site-section-head TEATROMUESTRAS -->
