<main>
    <div class="info1 leftie">
      <h2 class="league-blue">Festival de Artes al Aire Libre</h2>
      <p>2 - 18 OCTUBRE / 2018</p>
      <a href="" class="info-link">Bases de Participación</a>
    </div>

    <figure class="figure1" style="margin:0;">
      <img src="/img/vogue-1.jpg" alt="" class="figure-img">
    </figure>
    <figure class="figure2" style="margin:0;">
      <img src="https://res.cloudinary.com/magnvs/image/upload/v1533178049/niaqfays9l1tquyeqqei.jpg" alt="" class="figure-img">
    </figure>
    <figure class="figure3" style="margin:0;">
      <img src="https://res.cloudinary.com/magnvs/image/upload/v1533178660/lsxels7ygdq3zxnmzdzk.jpg" alt="" class="figure-img">
    </figure>
</main>
