<main>
    <div class="info1 leftie">
      <small ><strong>Carlos Endara Andrade (Ibarra, 1865 – Panamá, 1954).-</strong> Fotógrafo pionero de la crónica visual que desarrolló su trabajo en Panamá, de muy joven estudia dibujo y pintura en nuestro país y hacia 1886 ingresa a trabajar en la Compañía Universal del Canal Interoceánico de Panamá, más adelante viaja a estudiar Bellas Artes en París donde se especializa en técnicas fotográficas (1904).<br/><br/>Aunque su trabajo fotográfico tiene como tema principal el retrato y lo cotidiano, su lente también documentó el desarrollo socio-económico de la ciudad de Panamá. La obra del fotógrafo predilecto del tres veces presidente panameño Belisario Porras, es un referente para la historia de la fotografía en Panamá y él es considerado como uno de los iconos fundadores de la naciente República de Panamá.</small>
    </div>

    <div class="info2 leftie">

      <h2 class="league-three">ESTRENO</h2>
      <h2 class="league-sm">Jueves 26 de Sep. 2019 &mdash; 17H30
      <br/>Museo Municipal de Guayaquil</h2>
      <h3 class="league-darkie">Con esta oportunidad se inaugurará la EXPOSICIÓN FOTOGRÁFICA: &laquo;Vida y trabajo de Carlos Endara Andrade en nuestro país y en Panamá&raquo;. Asimismo, se realizará la PRESENTACIÓN DEL LIBRO &laquo;El fotógrafo y artista Carlos Endara Andrade y El Ecuador (1865-1954)&raquo; escrito por Alfonso Ortiz Crespo.</h3>
      <h2 class="league-sm">Entrada libre</h2>
    </div>
    <figure class="figure2" style="margin:0;">
      <img src="//res.cloudinary.com/magnvs/image/upload/v1569026853/pc7boijdgyogznaagls2.jpg" alt="" class="figure-img">
    </figure>
</main>
