<main>
    <div class="info1 leftie">
      <h2 class="league-blue">Festival de Artes al Aire Libre</h2>
      <p>1 - 19 OCTUBRE / 2018</p>
      <a href="" class="info-link">Inauguración:<br/> Viernes 5 de octubre. 19h00<br/>
        Hemiciclo de la Rotonda / Malecón 2000
      </br/></a>
    </div>

    <figure class="figure1" style="margin:0;">
      <img src="https://cdn.filestackcontent.com/DR7HU6N6R2r536I7ypmQ" alt="" class="figure-img">
    </figure>
    <figure class="figure2" style="margin:0;">
      <img src="https://res.cloudinary.com/magnvs/image/upload/v1533178049/niaqfays9l1tquyeqqei.jpg" alt="" class="figure-img">
    </figure>
    <figure class="figure3" style="margin:0;">
      <img src="https://res.cloudinary.com/magnvs/image/upload/v1533178660/lsxels7ygdq3zxnmzdzk.jpg" alt="" class="figure-img">
    </figure>
</main>
