<div id="bkg">
<div class="fer">
    <p>EL LADO &laquo;B&raquo;</p>
    <h1><a href="/" title="FERNANDO MAYORGA">{{ site.name }}</a> <br  />
        <svg width="125" height="125" class="Icon Icon--fer" aria-hidden="true">
              <use xlink:href="/IMG/icn.svg#ferlog"></use>
        </svg>
    </h1>
</div>

<div class="container">
	{% for post in site.posts offset: 1 limit: 2 %}

	  <div >
	  <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    <a class="icons" href="{{post.url}}"><svg width="28" height="14" class="Icon Icon--content" aria-hidden="true">
            <use xlink:href="/IMG/icn.svg#content"></use>
      </svg></a>
    </div>

	{% endfor %}
</div>

<div class="mid">

<a class="install" href="/archivo/">
            <svg class="icon-install" width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
            		<g transform="matrix(-0.0167349,0.99986,-0.99986,-0.0167349,12.5995,0.609617)">
                  <path d="M4.571,0L7.43,0L7.43,5L11,5L6,10L1,5L4.571,5L4.571,0ZM0,11L12,11L12,13L0,13L0,11Z" fill="#FFFFF8" fill-rule="evenodd"/></g>
            </svg>
            Artículos anteriores
        </a>

</div>

</div>
