<div class="site-section">
  <h3><span class="star">&#x2605;</span></h3>
      <div id="image_container">
      <div class="flex-img">
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496894363/musmus0208_uu45c9.jpg" caption="" />
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496894353/musmus0209_i1a6uo.jpg" caption=""/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496894281/musmus0210_qnwu80.jpg" caption=""/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496683952/mmgye/cristina.jpg"caption="Cristina Alcivar y Vargas Project Band interpretan Like a Prayer de Madonna"/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496847798/mmgye/wong03.jpg" caption="Público asitente al evento del sábado 02 de junio: La música disco."/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496847120/mmgye/vive.jpg" caption="Vive Company, coreografía con el éxito Vogue de Madonna"/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496846845/mmgye/egbert.jpg" caption="Egberto garcía, Baladas latinoamericanas de los 80"/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1496847595/mmgye/wong01.jpg" caption=""/>
	      <img src="http://res.cloudinary.com/magnvs/image/upload/v1496847381/mmgye/chiang.jpg" caption="Diego Chiang interpreta &laquo;They don´t care about us&raquo; de Michael Jackson"/>
      </div>
    </div>
  <h2 class="league-four">&laquo;VIVE MUSIMUESTRAS AHORA&raquo;</h2>
</div>
