<div class="site-section">
  <h3><span class="star">&#x2605;</span></h3>
  <h2 class="league-three">INAUGURACIÓN</h2>
  <h2 class="league">VIERNES 2 DE JUNIO</h2>
<div class="tvs">
<div id="img">
  <div class="tv"> <img src="/img/tv80.png" /></div>
</div>
</div>

<div style="margin-top:-150px;">
  <h2 class="league-four">Los reyes del pop:<br /> Michael Jackson y Madonna</h2>
  <ul class="in-the-wild">
  <li>
    <h2>&laquo;VARGAS PROJECT BAND&raquo;</h2>
  </li>
  <li>
    <h2>Malecón 2000<br /> - A la altura de la calle Aguirre - <br />19H00</h2>
  </li>
  </ul>
</div>

</div>
