<div class="cceng-alt">
  <div class="row">
    <div class="col col-5 offset-6" style="padding-top:3em;">

    <h2 class="cce">MUSIMUESTRAS<br/>PRESENTA</h2>

    <div class="flex-embed" style="margin: 0 .5rem 3.5rem .5rem;">

        <img src="https://res.cloudinary.com/magnvs/image/upload/v1558231011/rhorngwfxzuurmckidg9.jpg" width="480" height="360" alt="video thumbnail">

      <div class="play-btn js-video-button" data-video-id='vvijNRgYJVo' data-channel="youtube">
      </div>
    </div>

    <h2 class="league-light">FRANCISCO TERÁN Y LA ORQUESTA FILARMÓNICA MUNICIPAL DE GUAYAQUIL</h2>
    <a href="//www.youtube.com/channel/UCrQlBRNquskFczR0GrdZs1g" class="btn btn-download" role="button"><span style="font-size:1.1rem;"> <i class="fa fa-youtube-play"></i>&nbsp;MÁS VIDEOS EN YOUTUBE</span></a>
    <h2 class="league-sm-white">¡QUÉDATE EN CASA!</h2>

   </div>

   <div class="col col-1"></div>

  </div>
</div>
