<div class="site-section-video-followup">

  <div class="article-mag-wrap">

    <header class="article-mag-header">
          <h2 class="league-red">ECUADOR 1929</h2>
        <h2 class="league-sm">UN FILM DE CARLOS ENDARA A.</h2>
      <p style="color:#1a1a1a">
La <strong>Universidad Andina Simón Bolívar</strong> y el <strong>Colegio de América</strong>, con el apoyo de la <strong>M. I. Municipalidad de Guayaquil</strong> y la autorización del <strong>Museo Casa Endara</strong> de Panamá presentan: <b>De Guayaquil a Quito: Ecuador 1929</b>.
      </p>
</header>

  </div>

<div class="row">

    <div class="col col-5 offset-1 ">
    <div class="flex-embed" style="margin: 0 .5rem 3.5rem .5rem;">

        <img src="//res.cloudinary.com/magnvs/image/upload/v1581388823/jxlumfebfimbxnahpgiq.jpg" width="480" height="360" alt="video thumbnail">

      <div class="play-btn js-video-button" data-video-id='bklXDPIwQqU' data-channel="youtube">
      </div>
    </div>
    </div>

    <div class="col col-5">
      <div style="padding-left:10px">

      <img style="max-width: 500px;margin-bottom:1.5rem;" src="assets/andinas.svg" />
      <p class="leftie" style="color:#1a1a1a;">
        Película filmada por Carlos Endara Andrade en 1929, que detalla su visita a Guayaquil, el viaje en ferrocarril a Quito y su estancia en la capital. Existen varias fuentes que mencionan la existencia de esta película, pero la consideraban perdida, ahora muy bien restaurada está disponible en internet.<br />La restauración y rescate de la película estuvo a cargo del cineasta <b>Alex Schlenker</b>.
      </p>
      <p><a href="people/080-ecuador-1929/">Boletín de prensa del MMDG: Oct/2019</a> </p>
      </div>


    <!-- <div class="flex-embed" style="margin: 0 .5rem 3.5rem .5rem;">

        <img src="//res.cloudinary.com/magnvs/image/upload/v1557683021/agvuxl9uvagwfvejop90.jpg" width="480" height="360" alt="video thumbnail">
        <div class="play-btn js-video-button" data-video-id='335713027' data-channel="vimeo">
        </div>

    </div> -->
    </div>

  </div>
  </div>
