<div class="site-section triangular" style="background-color:#eee; padding-bottom: 0;margin-bottom: -3px;">

<div class="row">

    <div class="col col-5 offset-1 ">
    <div class="flex-embed" style="margin: 0 .5rem 3.5rem .5rem;">

        <img src="//res.cloudinary.com/magnvs/image/upload/v1569092290/wfgeg6i4srmqlhbfmr8y.jpg" width="480" height="360" alt="video thumbnail">

      <div class="play-btn js-video-button" data-video-id='xNNACQY8nDg' data-channel="youtube">
      </div>
    </div>
    </div>

    <div class="col col-5 leftie">
      <div style="padding-left:10px">

      <h2 class="league-sm">EL PROCESO FUNDACIONAL DE  GUAYAQUIL
      </h2>
      <img style="margin: 20px 0;" src="//ucsgrtv.com/tv/images/logo.png" />
      <p style="color:#1a1a1a;"><strong>Mesa de análisis arte y cultura</strong><br />
        Entrevista realizada por Karina Gálvez al historiador Melvin Hoyos, para el programa "Mesa de análisis arte y cultura", a propósito de la Fundación de Guayaquil y sus posteriores reasentamientos hasta 1547; tema que ha causado confusiones para definir la fecha en que se debe celebrar nuestra génesis urbana.
      </p>
      </div>


    <!-- <div class="flex-embed" style="margin: 0 .5rem 3.5rem .5rem;">

        <img src="//res.cloudinary.com/magnvs/image/upload/v1557683021/agvuxl9uvagwfvejop90.jpg" width="480" height="360" alt="video thumbnail">
        <div class="play-btn js-video-button" data-video-id='335713027' data-channel="vimeo">
        </div>

    </div> -->
    </div>

  </div>
  </div>
