<div class="site-section site-section-video noise">

  <figure class='full-width' style="margin-bottom:0;">
    <img class="wide" src="/img/ocmm-prom.svg">
  </figure>

<div class="article-mag-wrap">

<header class="article-mag-header">
      <h4 style="color:silver;">Por primera vez, en toda la historia del Cabildo, se incorpora una orquesta en el quehacer cultural de la urbe; y, gracias al continuo apoyo del abogado Jaime Nebot y del director de Cultura, el arquitecto Melvin Hoyos G., Guayaquil cuenta con una orquesta representativa.
      </h4>

    <div class="byline">
        &#10086;
      </div>
</header>
</div>


<div class="cta-option" style="margin-top:5px; margin-bottom: 50px;">
      <a class="btn btn-alt" href="/ocmmg" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Video en YouTube">
        <span class="version">Conoce más de la OCMMG &raquo;</span>
      </a>
</div>

</div>
