{% include head.html %}
<body>
        <!-- Add your site or application content here -->
<div class="main"><!-- Aquí va class main -->
<div class="bg-hero">
            <div class="site-header clearfix" role=banner>
              <div class="site-logo">PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>INICIO
                  </a>
                </li>
                <li>
                  <a href="/contactos" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>CONTACTOS
                  </a>
                </li>
              </ul>
            </div>

<div class="site-promo" style="margin-top:7em;">

<div class="wow bounceInDown">
    <div  class="dali-logo">
      <img src="/assets/sj-19.svg"/>
    </div>
  </div>

<h2>VOLVEREMOS EN OCTUBRE DE 2020</h2>

</div><!-- END site-promo-->
<br /><br />


</div><!-- end of bg-hero -->
</div><!-- end main -->


<div class="site-section-head">
	<div class="row">

		<div class="col col-3">
		</div>
		<div class="col col-6">
			<h2 class="league"><span>PREMIACIÓN</span></h2>
			<h2 class="league-sm">VIERNES 25 DE OCTUBRE 2019</h2>
			<h3 class="league-darkie">Explanada del Fortín de Las Peñas: 19h00 </h3>
  		</div>
		<div class="col col-3">
		</div>

	</div><!-- END ROW -->

      <h2 class="league-sm-white">Comprometidos con el arte y la cultura
      </h2>
    <div class="article-mag-wrap">
      <div class="intro-ps leftie">

        <p><strong>Nuestro compromiso está vigente</strong> a pesar de los recientes sucesos por los que atraviesa el país. Siendo consecuente, la Dirección de Cultura de la M. I. Municipalidad de Guayaquil, reaunda el FESTIVAL DE ARTES AL AIRE LIBRE en las instalaciones de la Plataforma del MAAC (Malecón 2000) y Plaza Colón. </p>

        <p>Las artes plásticas, escénicas, visuales y alternativas continúan presentes con once categorías de concursos plenamente establecidos en el FESTIVAL DE ARTES AL AIRE LIBRE, para lo cual <em>estamos trabajando con el nuevo cronograma de participación.</em></p>

      </div>
      {% include aside-b.html %}
    </div>

	  <h2 class="league-sm">MUSEO MUNICIPAL DE GUAYAQUIL
  </h2>
  <p style="color:#1A1A1A;">Sucre entre Chile y Pedro Carbo - Guayaquil<br />
    (04) 259 4800 ext. 7402
  </p>
 </div> <!-- En gray -->


<figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1566533837/xqwyplnraqhf4ejm954w.jpg">
</figure>

{% include footer.html %}

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/kube.js"></script>
  <script src="/js/wow.js"></script>

  <script>
  wow = new WOW(
          {
            animateClass: 'animated',
            offset: 100
          }
  )
  wow.init()
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>
