{% include head.html %}
    <body >

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<!-- Add your site or application content here -->
		<div class="noise">
          <div class="container">
            <div class="site-header clearfix" role=banner>
              <div class=site-logo>PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-navi inline-block-list">
                <li>
                  <a href="/" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Inicio
                  </a>
                </li>
                <li>
                  <a href="/faal#" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">FAAL 2017
                  </a>
                </li>
                <li>
                  <a href="/" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Agenda cultural
                  </a>
                </li>
              </ul>
            </div>


            <div class="wow bounceInDown">
                <div  style="width: 30%; margin:0; margin-left:auto; margin-right:auto;">
                  <img src="/img/escudo_faal.svg"/>
                </div>
            </div>

            <div class="site-promo">
              <h2 >Festival de Artes al Aire Libre</h2>
              <h2> 2&mdash;18 OCTUBRE</h2>
            </div>

          </div><!-- end of container -->
		</div>

{% include logos.html %}

<div class="site-section-head">
<div class="article-mag-wrap">

<h2 class="league-four">Cronograma de actividades XVIII FAAL en el Malecón del Estero Salado y Malecón 2000</h2>

<div class="intro-ps leftie">

	<p><strong>Importante:</strong><br /> En las reuniones previas a los concursos del Festival de Artes al Aire Libre se procederá a comunicar las instrucciones que todo participante debe conocer para el buen desarrollo del festival.</p>
	<p> El día de la reunión también se hará la entrega de la CREDENCIAL a los participantes de la presente edición del Festival de Artes al Aire Libre. </p>
	<p>También es importante recordar que la presente edición del <strong>FESTIVAL DE ARTES AL AIRE LIBRE - INDEPENDENCIA DE GUAYAQUIL</strong>  tendrá como <b>temática</b> el <strong><em>&laquo;rescate y conservación del medio ambiente&raquo;</em></strong> la cual será aplicable para todas las categorías artísticas, <u>con excepción</u> de aquellas en las que explícitamente se incluya el tema libre.</p>

</div>
</div>
</div>

{{ content }}

<figure class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="/img/vogue-1.jpg">

{% include aside.html %}
{% include footer.html %}

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/kube.js"></script>
  <script src="/js/wow.js"></script>

  <script>
  wow = new WOW(
          {
            animateClass: 'animated',
            offset: 100
          }
  )
  wow.init()
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>
