{% include head.html %}
<body>
        <!-- Add your site or application content here -->
<div class="main-c" style="background-color:#efded0;!important">
<div class="container" style="margin-bottom: 0; padding-bottom:20px;">
            <div class="site-header clearfix" role=banner>
              <div class="site-logo">PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Inicio
                  </a>
                </li>
                <li>
                  <a href="/contactos" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>CONTACTOS
                  </a>
                </li>
              </ul>
            </div>

            <div class="site-promo">
                    <div class="wow bounceInDown">
                        <div  class="bounce">
                                <img src="/img/escudo-gye.svg"/>
                        </div>
                   </div>
            </div>
              <h2 class="league-three">EVOLUCIÓN HISTÓRICA DEL<br/>MUSEO MUNICIPAL</h2>

</div><!-- end of container -->
</div><!-- end main noise -->

<div class="aside">
<div class="container">

<h2 class="league-sm">HABIENDO SURGIDO COMO MUSEO INDUSTRIAL EN 1863, CON LA FINALIDAD DE DIFUNDIR LOS RESULTADOS DEL ESFUERZO DE LOS GUAYAQUILEÑOS, EL MUSEO MUNICIPAL FUE EVOLUCIONANDO Y CAMBIANDO DE SEDE HASTA LOGRAR EL GRAN SITIAL QUE OCUPA HOY.
</h2>
</div>

<div class="grid-container">
<ul class="cards">
<li class="card1"><img src="//res.cloudinary.com/magnvs/image/upload/v1548130058/syeebqmktz0n0n02hbif.jpg"/>
</li>

<li class="card2 leftie">
<h2 class="parcial">1. Museo Industrial</h2>
<p>En julio de 1863, siendo presidente del Concejo Cantonal don Pedro Carbo Noboa, se fundó el Museo Industrial de Guayaquil.</p>
</li>

<li class="card3"><img src="//res.cloudinary.com/magnvs/image/upload/v1548130777/syt8ygsscckm7uysqomg.jpg"/>
</li>

<li class="card4 leftie">
<h2 class="parcial">2. Ver los frutos del esfuerzo</h2>
<p>El Museo Industrial tendría como meta convertirse en el lugar en que se expusiera el fruto del trabajo e intelecto de los guayaquileños, destinando para el efecto un importante espacio ubicado en los altos de la Casa del Cabildo.</p>
</li>

<li class="card5 leftie">
<h2 class="parcial">3. Más de 2500 piezas</h2>
<p>Por los registros de los bienes patrimoniales con los que nació el Museo Municipal en 1908, se asume, que el Museo Industrial tendría en sus bodegas más de 2.500 piezas de todo tipo.</p>
</li>

<li class="card6 leftie">
<h2 class="parcial">4.  La Exposición Nacional</h2>
<p>Su carácter fue más el de una sala de exposiciones que el de museo, llegando a jugar un importante papel en esas funciones, en especial para 1888, con la implementación en sus salas de la Exposición Nacional llevada a cabo en Guayaquil.</p>
</li>

<li class="card7 leftie">
<h2 class="parcial">5. El Museo Municipal</h2>
<p>El 10 de agosto de 1909, y como fruto de la iniciativa de don Camilo Destruge Illinworth, surgió el Museo Municipal de Guayaquil -como evolución natural del Museo Industrial- en un chalet de la calle Villamil que pertenecía al concejal Morla.</p>
</li>

<li class="card8 leftie">
<h2 class="parcial">6.  Edificio propio</h2>
<p>Solo un año pasaría desde su fundación para que su director iniciara gestiones para dotar de edificio propio al museo, obteniendo el apoyo del Dr. Armando Pareja Coronel, gracias a quien pudieron solicitarse varios diseños de edificios, quedando seleccionado el del artista portugués Raúl María Pereira.</p>
</li>

<li class="card9"><img src="//res.cloudinary.com/magnvs/image/upload/v1548133050/itqcau9pelgf26wmbrkg.jpg"/>
</li>

<li class="card10"><img src="//res.cloudinary.com/magnvs/image/upload/v1548134554/amqh3stkxbwg97fkm5w3.jpg"/>
</li>

<li class="card11 leftie">
<h2 class="parcial">7. Inauguración del nuevo Museo</h2>
<p>En 1916 se inauguró el nuevo palacio del Museo y Biblioteca Municipal, en la esquina formada por las calles 10 de Agosto y Pedro Carbo.</p>
</li>

<li class="card12 leftie">
<h2 class="parcial">8.  Un palacio de madera</h2>
<p>Solo veintidós años estaría en uso este magnífico palacio de madera, ya que los errores cometidos en su construcción hicieron que amenace ruina muy prematuramente, por lo que se tuvo que ordenar su demolición.</p>
</li>

<li class="card14 leftie">
  <h2 class="parcial">9. Traslado Forzoso</h2>
  <p>El museo fue trasladado entonces<br/> al Palacio Municipal, manteniéndose<br/> en este lugar por más de 30 años,<br/> con una gran parte  de sus<br/> piezas guardadas<br/> y sin exhibir.</p>
</li>

<li class="card15 leftie">
  <h2 class="parcial">10. Un gran Museo</h2>
  <p>En 1970 y luego de un año de gestión y construcción, se inaugura el nuevo edificio de Museo Municipal, compartiendo manzana con la Biblioteca Municipal, que ya se había inaugurado en 1958. En este lugar iría evolucionando hasta convertirse en lo que es hoy. El museo más importante del país.</p>
</li>
</ul>

</div>

{{ content }}

</div><!-- END of aside -->

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
