{% include head.html %}
<body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<div class="main noise">

<div class="bg-hero-expo">
<div class="container" style="margin-bottom: 0; padding-bottom:20px;">
            <div class="site-header clearfix" role=banner>
              <div class="site-logo">PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Inicio
                  </a>
                </li>
                <li>
                  <a href="https://cdn.filestackcontent.com/mVlt5RdIT6SuTs9SWWUL" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Agenda agosto
                  </a>
                </li>
                <li>
                  <a href="/ocmmg" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>ORQUESTA DE CÁMARA
                  </a>
                </li>
                <li>
                  <a href="/contactos" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>CONTACTOS
                  </a>
                </li>
              </ul>
            </div>

            <div class="site-promo">
              <div class="wow bounceInDown">
                 <div class="bounce">
                   <img src="/assets/museo-blanco.svg"/>
                 </div>
              </div>
            <h2 ><span style="font-size:2rem;color:rgba(255,255,255,.9);letter-spacing:4px;">1908 - 2018</span></h2>
          </div>

</div><!-- end of container -->
</div><!-- end of bg-hero -->

<!-- <figure class='full-width'>
  <img class="wide" src="https://cdn.filestackcontent.com/0XklAiMnShGXoPMBx2YN">
</figure> -->

</div><!-- end main noise -->

<div class="aside">

<div class="grid-container">

    <ul class="cards">

      <li class="card1 ">
        <img class="cards" src="/img/antik.jpg" />
      </li>

      <li class="card2 leftie">
        <div style="background:#000; width:100%; padding:0; margin:0;">
          <h2><span style="font-size:0.6em;color:#ffffff;padding-left: 12px;">CONÓCENOS</span></h2>
        </div>
        <div class="pad">
        <p>Nuestra institución nació como Museo Industrial en 1863, fue su gestor el distinguido guayaquileño don <strong>Pedro Carbo</strong> quien en aquel entonces presidía la Municipalidad. Hacia el año de 1908, el Ilustre Concejo Cantonal, decide crear un museo histórico para la ciudad de Guayaquil lo que implicó la tranformación del Museo Industrial, designándose como su primer director a don <strong>Camilo Destruge I.</strong></p>
				<p>El actual edificio del museo, que comparte con la Biblioteca Municipal, fue iniciativa de la filantropía del ciudadano norteamericano <strong>Josef Gorelik</strong> mientras que el diseño estuvo a cargo del reconocido arquitecto <strong>Guillermo Cubillo Renella</strong>.</p>
        <p>La obra fue inaugurada en 1958 durante la alcaldía del Sr. <strong>Luis Robles Plaza</strong></p>
        </div>
      </li>

      <li class="card3 leftie" style="padding-top:5em;">
        <div class="pad">
        <p>Para 1970 se amplían las instalaciones del museo y se crea un acceso independiente desde la calle Sucre, y de igual manera, en 1971, el maestro <strong>Jorge Swett</strong> concluía el mural que decora el exterior del museo con la historia de Guayaquil.</p>
				<p> En la primera administración del Ing. <strong>León Febres-Cordero</strong> (1992) se realizó una importante remodelación del museo; años más tarde en 1999, el arquitecto <strong>Melvin Hoyos Galarza</strong> actual director del museo, concibe e inaugura una nueva exhibición permanente, la cual todavía podemos apreciar en la actualidad.</p>
				<p>Con una reserva mayor a 12.000 piezas, el Museo Municipal es el más antiguo y fue el primero en crearse para la ciudad.</p>
      </div>
      </li>

      <li class="card4">
          <img class="cards" src="/img/biblioteca.jpg" />
      </li>

      <li class="card44 leftie">
        <ol class="pad">
          <li class="pad-bottom"><small>Imagen publicada en la <strong>"Guía Comercial Agrícola e Industrial del Ecuador"</strong> de 1909. Al lado izquierdo de la imagen se pueden apreciar la silla de piedra en forma de “U” y el incensario Manteño - Huancavilca que en la actualidad pertenecen a la sala Prehispánica del museo. </small></li>
          <li class="pad-bottom"><small><strong>Sección arqueológica</strong> del Museo Municipal. Destaca el monolito 2 antropomorfo que ahora se exhibe en la Sala Prehispánica.
          Gaceta Municipal. Guayaquil, agosto 25 de 1909.</small></li>
          <li class="pad-bottom"><small>Fachada del <b>primer edificio de la Biblioteca y Museo Municipal</b> hacia 1909, era un chalet en la calle Villamil donado por el <strong>Sr. Darío Morla</strong>&mdash;<em>retrato imagen al pie de este texto</em>&mdash;.</small></li>
          <li class="pad-bottom"><small>Detalle de la <strong>"Piedra de los sacrificios"</strong> que estaba en el jardín del chalet de la calle Villamil. <em>Boletín Nº11, Museo Municipal (2008)</em></small></li>
        </ol>
      </li>
      <li class="card5">
      </li>
      <li class="card55">
        <img style="margin-left:0;margin-bottom:0;padding-bottom:0;float:left; width:50%;" src="/img/man.png" />
      </li>
      <li class="card6">
        <div style="margin-top: 10%; margin-right: 100px;">
        <img style="padding:0;float:right; width:100%;border-radius:50%;" src="/img/sala.jpg" />
      </div>
      </li>
      <li class="card7">
        <div style="margin-top: -15px; margin-right: 15px;">
        <img style="padding:0;float:right; width:230px;border-radius:50%;" src="/img/morla.jpg" />
      </div>
      </li>

<!--
<li class="card22 leftie">
        <h2><span style="font-size:0.9em;">La exposición</span><br /><span style="color:#777;">Dr. Hideyo Noguchi</span></h3>
        <hr />
        <p><strong style="color:brown;">La muestra consta</strong> de fotografías a gran escala sobre la vida, trayectoria y logros alcanzados por el Dr. Noguchi así como algunos <strong>elementos originales y conmemorativos de gran valor histórico</strong> debido a su antigüedad e importancia, y se realiza gracias a la gentil y valiosa colaboración del <strong>M. I. Municipio de Guayaquil</strong> y el <strong>Museo Municipal de Guayaquil</strong>.</p>
        <hr />
      </li>

      <li class="cardx leftie">
        <hr />
        <p><strong style="color:brown;">Tony Balseca</strong>, talentoso escultor guayaquileño, a petición especial del Consulado de Japón en Guayaquil, ha trabajado el busto del Dr. Noguchi.<br />El retrato del científico japonés fue vaciado en bronce en el vecino país de Perú y será develado en el Malecón 2000; la matriz de este monumento formará parte exhibición conmemorativa que se realiza en el Museo Municipal de la ciudad.</p>
        <hr />
     </li>
    <li class="cardz-1">
       <img src="/img/balseca-nogu.jpg" />
   </li>
    </ul>

    <ul class="cards">

       <li class="card3 leftie">
          <hr />
         <p><strong style="color:brown;">Gracias a su dedicación</strong> hoy la fiebre amarilla no sólo puede ser controlable en el mundo sino eliminada. El Dr. Noguchi también hizo muchas otras contribuciones importantes, incluyendo el tratamiento para la sífilis. Vale la pena recordar que fue en Ecuador donde él comenzó su eterna batalla, hizo sus investigaciones en una de las oficinas del entonces edificio del Ayuntamiento de Guayaquil.<br /> Como un homenaje a su trabajo y esfuerzo existen monumentos, calles, escuelas e institutos de investigación en salud publica, entre otros, que llevan su nombre en Quito, Guayaquil y en otros lugares del Ecuador.</p>
         <hr />
      </li>
      <li class="cardx">
         <img src="/img/nogu-signature.jpg" />
     </li>
     <li class="cardy leftie">
       <hr />
       <p><strong style="color:brown;">Este sake</strong> se produce en su ciudad natal, la región de Aizu, noreste de Japón. El vínculo de este sake con el Dr. Noguchi es porque él fue hijo adoptivo de la familia de productores de esta bebida con una historia de cientos de años.<br  /> Este año es el centenario de la llegada e invitación del Dr. Noguchi a Guayaquil, y también habrán una serie de eventos para celebrar sus logros.<br /> Esperamos que quien dé importancia a los retos y esfuerzos humanos contra las enfermedades infecciosas, se una a nosotros para conmemorar todo el trabajo y la contribución del Dr. Noguchi en Ecuador.</p>
       <hr />
    </li>
    <li class="cardz">
       <img src="/img/sake-nogu.jpg" />
   </li>
-->

    </ul>

</div>
</div>

<!-- END of aside -->

<!-- {% include cal.html %} Cápsulas de eventos -->

{{ content }}

{% include aside-b.html %}

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
