{% include head.html %}
<body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<div class="main noise">

<div class="bg-hero-expo">
<div class="container" style="margin-bottom: 0; padding-bottom:20px;">
            <div class="site-header clearfix" role=banner>
              <div class="site-logo">PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/assets/agda_mayo2018.pdf" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Agenda mayo
                  </a>
                </li>
                <li>
                  <a href="/faal-2017" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">FAAL 2017
                  </a>
                </li>
                <li>
                  <a href="/ocmmg" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>ORQUESTA DE CÁMARA
                  </a>
                </li>
                <li>
                  <a href="/contactos" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>CONTACTOS
                  </a>
                </li>
              </ul>
            </div>

</div><!-- end of container -->
</div><!-- end of bg-hero -->

<!-- <figure class='full-width'>
  <img class="wide" src="https://cdn.filestackcontent.com/0XklAiMnShGXoPMBx2YN">
</figure> -->

</div><!-- end main noise -->

<div class="aside">
  <div class="row gutters">

    <div class="col col-1">
    </div>

    <div class="col col-10" >
      <div class="wow bounceInDown">
          <div class="bouncing">
            <img src="/assets/origens.svg"/>
          </div>
      </div>
    </div>

    <div class="col col-1">
    </div>

  </div>

<div class="grid-container">

    <ul class="cards">

      <li class="card1 leftie">
          <h2><span style="font-size:0.9em;">El 15 de septiembre</span></h2>

          <p>de 1908, don Armando Pareja Coronel, a la sazón presidente del Ilustre Concejo Cantonal, propuso la creación de un museo histórico, dando de este modo pie para la transformación del antiguo Museo Industrial.</p>

          <p>La propuesta dio origen a una Ordenanza que definiría, entre otras cosas, el establecimiento de una sección dedicada a la Historia Patria y, otra, a las Ciencias y a las Artes.</p>

          <p>La Ordenanza disponía al final de su articulado, que se inaugurará esta nueva dependencia el 10 de Agosto de 1909 como parte de las festividades a realizarse en conmemoración del centenario del “Primer Grito de la Independencia”.</p>
      </li>

      <li class="card2 leftie">
          <p>El evento se realizó la noche del 9 de agosto en una muy concurrida y lucida ceremonia en la que todos los invitados pudieron observar más de 1.000 piezas perfectamente clasificadas y expuestas en vitrinas diseñadas para el efecto; distribuidas en secciones tales como la Arqueológica, Colonial, Numismática, de Historia Nacional y de Historia Natural.</p>
          <p>Todo el trabajo de clasificación, organización y montaje corrió a cargo del director de la Biblioteca Municipal, Don Camilo Destruge, quien a partir de esa fecha pasaría a ser el primer director del Museo Municipal.</p>
          <p>Aunque el Museo ha estado en constante transformación desde su nacimiento, a finales de 1999 es cuando se convierte en un museo histórico con salas que cuentan la evolución de la ciudad por épocas.</p>
      </li>


      <li class="card11">
          <img src="/img/antik.png" />
      </li>

<!--
<li class="card22 leftie">
        <h2><span style="font-size:0.9em;">La exposición</span><br /><span style="color:#777;">Dr. Hideyo Noguchi</span></h3>
        <hr />
        <p><strong style="color:brown;">La muestra consta</strong> de fotografías a gran escala sobre la vida, trayectoria y logros alcanzados por el Dr. Noguchi así como algunos <strong>elementos originales y conmemorativos de gran valor histórico</strong> debido a su antigüedad e importancia, y se realiza gracias a la gentil y valiosa colaboración del <strong>M. I. Municipio de Guayaquil</strong> y el <strong>Museo Municipal de Guayaquil</strong>.</p>
        <hr />
      </li>

      <li class="cardx leftie">
        <hr />
        <p><strong style="color:brown;">Tony Balseca</strong>, talentoso escultor guayaquileño, a petición especial del Consulado de Japón en Guayaquil, ha trabajado el busto del Dr. Noguchi.<br />El retrato del científico japonés fue vaciado en bronce en el vecino país de Perú y será develado en el Malecón 2000; la matriz de este monumento formará parte exhibición conmemorativa que se realiza en el Museo Municipal de la ciudad.</p>
        <hr />
     </li>
    <li class="cardz-1">
       <img src="/img/balseca-nogu.jpg" />
   </li>
    </ul>

    <ul class="cards">

       <li class="card3 leftie">
          <hr />
         <p><strong style="color:brown;">Gracias a su dedicación</strong> hoy la fiebre amarilla no sólo puede ser controlable en el mundo sino eliminada. El Dr. Noguchi también hizo muchas otras contribuciones importantes, incluyendo el tratamiento para la sífilis. Vale la pena recordar que fue en Ecuador donde él comenzó su eterna batalla, hizo sus investigaciones en una de las oficinas del entonces edificio del Ayuntamiento de Guayaquil.<br /> Como un homenaje a su trabajo y esfuerzo existen monumentos, calles, escuelas e institutos de investigación en salud publica, entre otros, que llevan su nombre en Quito, Guayaquil y en otros lugares del Ecuador.</p>
         <hr />
      </li>
      <li class="cardx">
         <img src="/img/nogu-signature.jpg" />
     </li>
     <li class="cardy leftie">
       <hr />
       <p><strong style="color:brown;">Este sake</strong> se produce en su ciudad natal, la región de Aizu, noreste de Japón. El vínculo de este sake con el Dr. Noguchi es porque él fue hijo adoptivo de la familia de productores de esta bebida con una historia de cientos de años.<br  /> Este año es el centenario de la llegada e invitación del Dr. Noguchi a Guayaquil, y también habrán una serie de eventos para celebrar sus logros.<br /> Esperamos que quien dé importancia a los retos y esfuerzos humanos contra las enfermedades infecciosas, se una a nosotros para conmemorar todo el trabajo y la contribución del Dr. Noguchi en Ecuador.</p>
       <hr />
    </li>
    <li class="cardz">
       <img src="/img/sake-nogu.jpg" />
   </li>
-->

    </ul>

</div>
</div>

{% include expo-head.html %}

<!-- END of aside -->

<!-- {% include cal.html %} Cápsulas de eventos -->

{{ content }}

{% include aside-b.html %}

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
