<!DOCTYPE html>
<html lang="es" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gabriela Gonzalez Dellosso</title>
		<meta name="description" content="Iluminantes es una serie continua dedicada a mujeres pintoras famosas de la historia. Combinando imágenes de artistas específicas, la artista rinde homenaje a su legado." />
		<meta name="keywords" content="Iluminantes, Dellosso, Museo Municipal Guayaquil, Odas de homenaje" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="/lavinia/styles/base.css" />
		<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body class="loading">
		{{ content }}
		{% include footer.html %}
		<script src="/lavinia/js/imagesloaded.pkgd.min.js"></script>
		<script src="/lavinia/js/TweenMax.min.js"></script>
		<script src="/lavinia/js/demo.js"></script>
	</body>
</html>
