{% include head.html %}
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<div class="main noise">
<div class="container" style="margin-bottom: 30px; padding-bottom:20px;">
            <div class="site-header clearfix" role=banner>
              <div class=site-logo>PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/faal" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">FAAL 2017
                  </a>
                </li>
                <li>
                  <a href="/map-faal" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">MAPA CONCURSOS FAAL
                  </a>
                </li>
                <li>
                  <a href="https://www.salondejulio.com" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>Salón de Julio
                  </a>
                </li>
              </ul>
            </div>

            <div class="wow bounceInDown">
                <div  style="width: 50%; padding-top: 70px; margin:0; margin-left:auto; margin-right:auto;">
                  <img src="/img/nux-mncp.svg"/>
                </div>
            </div>

            <div class="site-promo-min">
              <div class="in-the-wild"><h4>&laquo;Descubre Arte, Cultura y Entretenimiento en la Ciudad&raquo;<br />Sitio oficial de los eventos que realiza la Dirección de Cultura de la M. I. Municipalidad de Guayaquil</h4></div>
            </div>

</div><!-- end of container -->

{% include slider.html %}

<figure class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="/img/faal-tess.svg">
</figure>

<div class="cta-option" style="margin-top:5px; margin-bottom: 50px;">
   <a class="btn btn-download" href="/crono-faal" data-ga-category="Outbound links">
     <span class="version">VER AGENDA <span class="version">FAAL</span> &raquo;</span>
   </a>
</div>

</div><!-- end main noise -->
<div class="site-section-head">
<div class="container">

	 <div class="grid">
        <div class="grid-cell">
                <img src="/img/escudo-gye.svg"/>
        </div>
        <div class="grid-cell">
                <img src="/img/museo.svg"/>
        </div>
        <div class="grid-cell">
                <img src="/img/macm.svg"/>
        </div>
    </div>

    <div class="article-mag-wrap">
      <header class="article-mag-header">
        <h4 >TENEMOS NUEVA SEDE, NUEVOS ESPACIOS, JUNTO AL ESTERO SALADO A CIELO ABIERTO Y EN ENTORNOS DONDE LA NATURALEZA ES LA PROTAGONISTA.
        </h4>
      </header>
    </div>

    <div class="row gutter leftie">
      <div class="col col-6">
        <h1 >Inauguramos la presente edición con más de 400 concursantes inscritos.</h1>
        <h3 >En esta ocasión estamos en el Malecón del Salado y sus alrededores.</h3>

      </div>
      <div class="col col-6">
        <figure style="margin: 45px 0 40px 0;">
          <img style="border-radius:4px;" src="/img/inaugu1.jpg" />
        </figure>
      </div>
    </div>

    <div class="row gutter leftie">
      <div class="col col-6">
        <figure style="margin: 0 0 40px 0;">
          <img style="border-radius:4px;" src="/img/inaugu-1.jpg" />
        </figure>
        <figure style="margin: 0 0 40px 0;">
          <img style="border-radius:4px;" src="/img/inaugu2.jpg" />
        </figure>
        <figure style="margin: 0 0 40px 0;">
          <img style="border-radius:4px;" src="https://res.cloudinary.com/magnvs/image/upload/v1507429198/inaugu4_ezoxcg.png" />
        </figure>
      </div>

      <div class="col col-3">
<p>La ceremonia para la inauguración oficial del Festival de Artes al Aire Libre se llevó a cabo la noche del viernes 6 de octubre; entre luces, música, coreografía y con la presencia de autoridades de la ciudad, el público asistente disfrutó de la <strong>&laquo;Alegría de los cuatro elementos de la naturaleza&raquo;</strong>, espectáculo artístico-musical bajo la producción de Geraldine Webber. </p>
<p>Realzando el evento, entre aplausos y alegría de los asistentes, estuvieron presentes la Reina de Guayaquil, <strong>Sonia Luna</strong> junto con las Srtas. <strong>María Mercedes Pesantes</strong> y <strong>Minyen Lee</strong>, Virreina de Guayaquil y Estrella de Octubre, respectivamente.</p>
<p>Para solemnizar el acto, el maestro <strong>José Valdiviezo</strong> dirigió la <strong>Orquesta de Cámara del Museo Municipal</strong>, la cual interpretó la &laquo;Canción al 9 de Octubre&raquo; que fue coreada por el público presente.
</p>
</div>
      <div class="col col-3">

        <figure style="margin: 0 0 40px 0;">
          <img style="border-radius:50%;" src="/img/hoyos.jpg" />
        </figure>

<p>Hay que destacar el discurso inaugural de parte del Arq. <strong>Melvin Hoyos G.</strong> Director de Cultura de la M. I. Municipalidad de Guayaquil, quien hizo énfasis en nuestra responsabilidad por rescatar el medio ambiente y fomentar la cultura de conservación ambiental, tan necesarios para dejar un legado sostenido y amigable con la naturaleza para las nuevas generaciones.
</p>
<p>En resumen, fue una noche llena de color, ritmo y alegría con la cual también recordamos que se aproxima la gran fiesta del <strong>Bicentenario de Guayaquil Independiente</strong>.</p>
<h6 >Texto: <span style="color:#555;letter-spacing:1px;"><b>Fernando Mayorga.</b></span></h6>
</div>
</div>
<div class="row">
  <div class="col col-12">
    <h2>Cortos de la prensa</h2>

  </div>
</div>

<div class="row gutter leftie">

  <div class="col col-4">
    <figure style="margin: 0 0 40px 0;">
      <img style="border-radius:4px;" src="/img/singers.jpeg" />
      <figcaption>
        Fotografía: Diario Expreso. 05.10.2017
      </figcaption>
    </figure>

    <p><strong>El Festival al Aire Libre se inaugura hoy</strong></p>
    <blockquote>
      <p>&laquo;Con música en vivo se amenizó ayer por la tarde la jornada previa a la inauguracuón oficial del Festival de Artes al Aire Libre, FAAL, que se lleva a cabo esta noche, a las 19h00 en el hemiciclo de la Rotonda.&raquo;</p>
    </blockquote>
  </div>

  <div class="col col-4">
    <figure style="margin: 0 0 40px 0;">
      <img style="border-radius:4px;" src="/img/wlado.jpg" />
      <figcaption>
        Fotografía: Wladimir Torres. 07.10.2017
      </figcaption>
    </figure>

    <p><strong>La piel de viste de color</strong></p>
    <blockquote>
      <p>&laquo;Hoy sábado 7 de octubre continúa el evento en la escalinata Diego Noboa del Cerro Santa Ana de Guayaquil. Su creador, Marco Toño Martinez Sierra, cultor de las bellas artes, realiza por tercer año consecutivo esta jornada artística que convoca a más de 200 artistas plásticos como homenaje a la ciudad de Guayaquil en el mes de su independencia. El público puede asistir desde las 14:00.&raquo;</p>
    </blockquote>
  </div>

  <div class="col col-4">
    <figure style="margin: 0 0 40px 0;">
      <img style="border-radius:4px;" src="/img/delarosa.jpg" />
      <figcaption>
        Fotografía: Evelyn de la Rosa. Expreso 07.10.2017
      </figcaption>
    </figure>

    <p><strong>Exposición de pintura en el Salado</strong></p>
    <blockquote>
      <p>&laquo;Durante la jornada de ayer en el Festival de las Artes al Aire Libre, decenas de artistas continuaron creando sus propuestas. En el parque lineal se sigue el proceso de las esculturas... También hay body paint en el cerro Santa Ana.&raquo;</p>
    </blockquote>
  </div>

</div>

</div>
</div>    <!-- End site section-head -->
<figure class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1507403111/promosfb-1_mdd5sa.jpg">
</figure>
{% include cal.html %}

{% include agenda.html %}

{{ content }}

{% include vidSJ.html %}

{% include aside-b.html %}

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/BigPicture.js"></script>
        <script src="/js/BigPicture-page.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
