{% include head.html %}
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="main noise">
          <div class="container" style="margin-bottom: 30px; padding-bottom:20px;">
            <div class="site-header clearfix" role=banner>
              <div class=site-logo>PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/faal" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">FAAL 2017
                  </a>
                </li>
                <li>
                  <a href="https://www.salondejulio.com" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>Salón de Julio
                  </a>
                </li>
              </ul>
            </div>

            <div class="wow bounceInDown">
                <div  style="width: 20%; margin:0; margin-left:auto; margin-right:auto;">
                  <img src="/img/logo-municp.svg"/>
                </div>
            </div>

            <div class="site-promo-min">
              <div class="in-the-wild"><h4>&laquo;Descubre Arte, Cultura y Entretenimiento en la Ciudad&raquo;<br />Sitio oficial de los eventos que realiza la Dirección de Cultura de la M. I. Municipalidad de Guayaquil</h4></div>
            </div>

</div><!-- end of container -->

{% include slider.html %}

<figure class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="/img/faal-tess.svg">
</figure>

<div class="site-section-head">
<div class="container">

	 <div class="article-mag-wrap">
     <header class="article-mag-header">
       <h4 >Toda la información para que participes en la XVIII edición del Festival de Artes al Aire Libre: instrucciones para el registro, bases de concurso, cronograma de participación.
       </h4>
     </header>
   </div>


   <div class="cta-option" style="margin-top:5px; margin-bottom: 50px;">
      <a class="btn btn-download" href="/faal" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Video en YouTube">
        <span class="version">Ir a <span class="version">FAAL</span> 2017 &raquo;</span>
      </a>
   </div>

    <div class="grid">
        <div class="grid-cell">
                <img src="/img/escudo-gye.svg"/>
        </div>
        <div class="grid-cell">
                <img src="/img/museo.svg"/>
        </div>
        <div class="grid-cell">
                <img src="/img/macm.svg"/>
        </div>
    </div>

    <div class="row gutter leftie">
      <div class="col col-6">
        <h1 >Arte al aire libre con más de 400 exponentes.</h1>
        <h2 >El encuentro anual llegó a su edición 18. Este año se muda al Malecón del Salado.</h2>
      </div>
      <div class="col col-6">
        <figure style="margin: 45px 0 40px 0;">
          <img style="border-radius:4px;" src="/img/places.jpg" />
        </figure>
      </div>
    </div>

    <div class="row gutter leftie">
      <div class="col col-3">
<h5>Redacción Expreso. Guayaquil.</h5>
<p>Con nueva sede y más de 400 artistas inscritos, el Festival de Artes al Aire Libre cumple este año su edición número 18, y lo hace en casa nueva. El Malecón 2000 que había sido el recinto donde los artistas desarrollaban y exponían sus obras solo se utilizará para la inauguración y clausura del evento, que será entre el 2 y el 18 de octubre. Las exhibiciones se realizarán en el malecón del Salado.</p>

<p>Esto con la finalidad de fomentar el turismo en ese sector, explicó el vocero de la organización, Fernando Mayorga.</p>

<p>El evento, que inició en el año 2000 para promover el arte en las categorías de pintura y escultura, tiene al momento 11 categorías que incluyen artes plásticas, escénicas, visuales y alternativas.</p>
<p>Al cierre de inscripciones hay al menos 403 personas</p>
      </div>

      <div class="col col-3">
<p>registradas. Entre ellos es infaltable el nombre de Lenín Mera Constante, un pintor que cada año se inscribe y en varias ocasiones ha alcanzado menciones de honor y el primero y el segundo lugar en 2002 y 2015, respectivamente.</p>

<p>Para Mera, la motivación es dar a conocer el arte que puede hacer, más allá del reconocimiento económico que en esta ocasión alcanza los 32.000 repartidos entre los ganadores de todas las categorías.</p>

<p>Los participantes son de varios sectores del país. Pablo Figueroa vendrá desde el Puyo a declamar, una expresión que lo hace desde niño, comenta, aunque reconoce que pocas personas saben de esta actividad. “Me conocen más como artista plástico, hago cuerpos pintados”.</p>

<p>Este artista de 32 años además de alcanzar el primer lugar en la categoría</p>
      </div>

      <div class="col col-3">
<p>declamación el año pasado, expuso body painting en las escalinatas, actividad que repetirá en esta edición.</p>

<p>Édgar Mora Arboleda y Jordán Cangá Caicedo también se inscribieron nuevamente. ya lo hicieron en dos acciones anteriores en la categoría danza. Este año volverán a participar, pero como miembros de otra agrupación.</p>

<p>En las oficinas de la organización, Gianella Freire consultaba cómo podía montar su performance. Ella es bailarina y participará ene l FAAL como coreógrafa del centro artístico que lleva su nombre.</p>

<p>“Es la primera vez que voy a participar. No lo había hecho antes, aunque siempre lo he querido, porque se me pasaba la fecha de inscripciones”, comenta la joven, quien incluso para esta edición considera que se registró “con las justas”, pues llegó faltando media hora </p>
</div>
      <div class="col col-3">
<p>para que concluya el plazo.</p>

<p>En esta ocasión la expectativa está puesta en la temática que la organización ha expresado. Sobre el rescate y conservación del medio ambiente.</p>

<p>“Es una manera de explorar nuestra creatividad”, dice mera Constante, quien durante la Feria pintará focos incandescentes. Mientras que Freire esta ansiosa, pues tiene “dos semanas para montar la coreografía, algo que sea estético y que logre enviar el mensaje de la temática”.</p> <p><strong>Karina Silvera G.</strong></p>

<h6 style="color:#c8c8c8;">Este contenido ha sido publicado originalmente en el Diario <a href="http://www.expreso.ec">EXPRESO</a> de Guayaquil.</h6>
      </div>
</div>
<br />
<h3 style="background-color:#c8c8c8;">VOCES</h3>

<div class="row gutter leftie">

  <div class="col col-4">
    <figure >
      <img src="/img/voice.png" />
    </figure>
    <small><strong>ÉDGAR MORA ARBOLEDA</strong></small>
    <p><em>Exponente de danza en el género breaking</em> </p>
    <blockquote>
      <p>&laquo;Es la tercera vez que vamos a participar, somos un grupo recién conformado y la coreografía de breaking y hip hop la hemos propuesto entre todos los miembros.&raquo;</p>
    </blockquote>
  </div>

  <div class="col col-4">
    <figure >
      <img src="/img/voice-1.png" />
    </figure>
    <small><strong>GIANELLA FREIRE BRAVO</strong></small>
    <p><em>Licenciada en danza y directora de academia que lleva su nombre</em> </p>
    <blockquote>
      <p>&laquo;La temática sobre el rescate al medio ambiente supone un reto, pues nos toca montar una coreografía que pueda transmitir ese mensaje. La haremos con el género jazz y contemporáneo.&raquo;</p>
    </blockquote>
  </div>

  <div class="col col-4">
    <figure >
      <img src="/img/voice-2.png" />
    </figure>
    <small><strong>LENÍN MERA CONSTANTE</strong></small>
   <p><em>Pintor: Ha participado en cada edición de FAAL</em> </p>
   <blockquote>
     <p>&laquo;Lo más importante del festival es la oportunidad de poder expresar el arte que hacemos. Hay gente nueva que se suma y eso es bueno, tener un espacio para que la gente pueda apreciar nuestro arte.&raquo;</p>
   </blockquote>
  </div>

</div>

</div>
</div>    <!-- End site section-head -->

{% include cal.html %}

{% include agenda.html %}

{{ content }}

{% include vidSJ.html %}

{% include aside-b.html %}

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/BigPicture.js"></script>
        <script src="/js/BigPicture-page.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
