{% include head.html %}
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<div class="main noise">
<div class="container" style="margin-bottom: 0; padding-bottom:20px;">
            <div class="site-header clearfix" role=banner>
              <div class=site-logo>PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">INICIO
                  </a>
                </li>
                <li>
                  <a href="/map-faal" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">MAPA CONCURSOS FAAL
                  </a>
                </li>
                <li>
                  <a href="/ocmmg" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>ORQUESTA DE CÁMARA
                  </a>
                </li>
              </ul>
            </div>

            <div class="wow bounceInDown">
                <div  style="width: 50%; padding-top: 70px; margin:0; margin-left:auto; margin-right:auto;">
                  <img src="/img/nux-mncp.svg"/>
                </div>
            </div>

</div><!-- end of container -->
</div><!-- end main noise -->

{% include agenda.html %}
{% include slider.html %}

<div class="noise" style="padding-bottom: 40px;">

<figure class='full-width'>
  <img class="wide" src="/img/faal-tess.svg">
</figure>
<div class="suscribe noise">
  <h2 style="margin:0 !important; padding:0 0 0.5em 0 !important;" class="league-four">&laquo;Ganadores y menciones 2017&raquo;</h2>
  <p><span class="suscrib" style="font-weight:bold; font-size: 2em;">Exposición abierta hasta el 18 de noviembre</span><br />Sala de Arte Contemporáneo del Museo Municipal de Guayaquil </p>
</div>

</div><!-- end noise -->

<div style="background-color:#ffffff;">

  <div class="grid-container">

      <ul class="cards">
        <li class="card1 leftie">
            <h2>Primer premio <span style="color:#777;">Pintura</span></h2>
            <hr />
            <h3>&laquo;Pyrolysis&raquo;</h3>
            <p><strong style="color:brown;">Alberto Villacís</strong><br />Hollín y carbón sobre panel<br /><em>Tríptico 100x210cm</em></p>
            <hr />
        </li>
        <li class="card2">
            <img src="/img/pyrolysis.png" />
        </li>

         <li class="card3 leftie">
           <h2><span style="font-size:0.9em;">Segundo premio </span><br /><span style="color:#777;">Pintura</span></h3>
           <hr />
           <h4>&laquo;Semilla hídrica&raquo; <span style="color:#999;">(detalle)</span></h4>
           <p><strong style="color:brown;">Jimmy Lara</strong><br />Extracto de elementos orgánicos<br /><em>Tríptico 46x180cm </em></p>
           <hr />
        </li>
        <li class="cardx">
           <img src="/img/extractos.jpg" />
       </li>
       <li class="cardy leftie">
         <h2><span style="font-size:0.9em;">Tercer premio </span><br /><span style="color:#777;">Pintura</span></h2>
         <hr />
         <h4>&laquo;El arte de transformar la naturaleza. Reflexiones para la curación&raquo; <span style="color:#999;">(detalle)</span></h4>
         <p><strong style="color:brown;">César Guale</strong><br />Carcoma de polilla, violeta de genciana, mertiolate / Cartulina.<br /><em>Políptico 115x270cm</em></p>
         <hr />
      </li>
      <li class="cardz">
         <img src="/img/curacion.jpg" />
     </li>
      </ul>

      <ul class="cards">
        <li class="card1 leftie">
            <h2>Primer premio <span style="color:#777;">Escultura</span></h2>
            <hr />
            <h3>&laquo;Descielo&raquo;</h3>
            <p><strong style="color:brown;">Miguel Mera</strong></p>
            <hr />
        </li>
        <li class="card2">
            <img src="/img/descielo.jpg" />
        </li>

         <li class="card3 leftie">
           <h2><span style="font-size:0.9em;">Segundo premio </span><br /><span style="color:#777;">Escultura</span></h3>
           <hr />
           <h4>&laquo;Vuelos de libertad&raquo; <span style="color:#999;">(detalle)</span></h4>
           <p><strong style="color:brown;">Alan Coveña</strong></p>
           <hr />
        </li>
        <li class="cardx">
           <img src="/img/vuelos.jpg" />
       </li>
       <li class="cardy leftie">
         <h2><span style="font-size:0.9em;">Tercer premio </span><br /><span style="color:#777;">Escultura</span></h2>
         <hr />
         <h4>&laquo;Guerrero de luz&raquo; <span style="color:#999;">(detalle)</span></h4>
         <p><strong style="color:brown;">Adrián Bacilio</strong></p>
         <hr />
      </li>
      <li class="cardz">
         <img src="/img/guerrero.jpg" />
     </li>
      </ul>

  </div>

  <div class="container">

  	 <div class="grid">
          <div class="grid-cell">
                  <img src="/img/escudo-gye.svg"/>
          </div>
          <div class="grid-cell">
                  <img src="/img/museo.svg"/>
          </div>
          <div class="grid-cell">
                  <img src="/img/macm.svg"/>
          </div>
      </div>

  </div>

</div> <!-- End Grid -->

{{ content }}

{% include aside-b.html %}

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/BigPicture.js"></script>
        <script src="/js/BigPicture-page.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
