{% include head.html %}
<body class="noise">
        <!-- Add your site or application content here -->
<div class="main">
<div class="bg-hero">
            <div class="site-header clearfix" role=banner>
              <div class="site-logo">PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li >
                  <a href="#musmus">MUSIMUESTRAS 2019
                  </a>
                </li>
                <li>
                  <a href="/faal" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>FAAL 2018
                  </a>
                </li>
                <li>
                  <a href="/contactos" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label=Docs>CONTACTOS
                  </a>
                </li>
              </ul>
            </div>

<!-- <div class="site-promo">
  <h1 >&laquo;Guayaquil Masónico&raquo;
  <br/>FERNANDO INSUA</h1>
  <h2>3 - 30 ABRIL</h2>
</div> -->

<div class="site-promo">

  <div class="wow bounceInDown">
    <div  class="dali-logo">
      <img src="/assets/sj-19.svg"/>
    </div>
  </div>

  <div class="cta-option" style="padding-bottom:30px!important">
          <a class="btn btn-download" href="//salondejulio.com" data-ga-category="Outbound links" >
            <strong>SALONDEJULIO.</strong>
            <span class=version>COM
            </span>
          </a>

          <a class="btn btn-premiere" href="//salondejulio.com/bases/" target="blank" data-ga-category="outbound links">
             BASES DEL CONCURSO
          </a>
  </div> <!-- END cta-->

</div><!-- END site-promo-->


</div><!-- end of bg-hero -->
</div><!-- end main -->
<div class="head-news">

{% include aside-b.html %}

  <h2 class="league-sm">MUSEO MUNICIPAL DE GUAYAQUIL
  </h2>
  <p style="color:#778899;">Sucre entre Chile y Pedro Carbo - Guayaquil<br />
    (04) 259 4800 ext. 7402
  </p>


{% include premiere-c.html %}

<div class="site-section-head" style="padding-bottom:0px!important;">
<figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="//cdn.filestackcontent.com/PDkhLj66REewRzVKPpIA" />
  <div class="cta-option-premiere-up">
  <button class="btn-alt js-video-button" data-video-id='328853231' data-channel="vimeo">  <h2 class="league-sm-white-btn">50 años&nbsp;<i class="fa fa-play-circle"></i></h2></button>
      </div>
</figure>
<div class="row" style="background-color:rgba(119,136,153,.4);">
  <div class="col offset-2 col-8">
    <h2 class="league-blue">MANUEL VELASTEGUÍ MORENO</h2>
    <h2 class="league-three">&laquo;50 años de nuevos comienzos&raquo;</h2>
          <div style="padding: 1rem 2rem;  column-count:2; column-gap: 2em;">
                  <p class="leftie">Con 50 años de connotada labor artística, el maestro Velasteguí, nos sigue asombrando con nuevos proyectos y propuestas. Este año nos presenta su más reciente producción escultórica, en ella se pueden evidenciar seis técnicas escultóricas con mármol, granito, cuarzo, madera petrificada, madera antigua y material rescatado.</p>
          </div>
    <h2 class="league">2 - 30 MAYO</h2>

    <p><strong>&laquo;Pasaje Arosemena&raquo;<br />Palacio Municipal de Guayaquil</strong></p>
  </div>
</div>
</div>

<div id="musmus">

<figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1556762302/pb7ttemijcy2hcwshnuq.png" />
</figure>

<div class="row" style="margin-top: 3.7rem;">

  <div class="col col-5 offset-1">
  <div class="flex-embed" style="margin: 0 .5rem 3.5rem .5rem;">

      <img src="//res.cloudinary.com/magnvs/image/upload/v1557890179/qwbjktdz9xqhaxsri9j3.jpg" width="480" height="360" alt="video thumbnail">

    <div class="play-btn js-video-button" data-video-id='YHsRrYfHcZ0' data-channel="youtube">
    </div>
  </div>
  </div>

  <div class="col col-4" style="margin: 0 .5rem 3.5rem .5rem;">
    <p style="letter-spacing: 1px;color:#fff;">POR SU INVALUABLE APOYO AL ARTE Y LA CULTURA DE GUAYAQUIL, AGRADECEMOS A LAS SIGUIENTES FIRMAS</p>
    <img src="//res.cloudinary.com/magnvs/image/upload/v1557890192/mlhlm3i9xoysqrnjqezy.png" >

  </div>

</div>

<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm" style="color:#FFF1C7; text-shadow:2px 2px 0 #000;letter-spacing: 3px; padding: 0 12px; ">FRANCISCO TERÁN Y LA FILARMÓNICA MUNICIPAL DE GUAYAQUIL DIRIGIDA POR EL MAESTRO DAVID HARUTYUNYAN<br />&mdash; ABREN MUSIMUESTRAS 2019 &mdash;</h2>
  </div>
</div>

<div class="row" style="padding: 2em 3em 0 3em;">
  <div class="col offset-2 col-8">
    <h2 class="league-sm-white" style="text-shadow:2px 2px 0 #000;"> CRONOGRAMA 16 - 31 MAYO</h2>
  </div>
</div>

<div class="row" style="padding: 0 3em 2em 3em;">
 <div class="col col-3 leftie">
  <h2 class="league-sm-white">01 <br />CAPÍTULO: MÚSICA POP</h2>
  <div style="border-left: 2px white solid;padding-left: 10px;">
  <p><strong>Jueves 16 de mayo / 19h00</strong><br />
<span style="color:#ffffff">Concierto filarmónico: Francisco Terán y la Orquesta Filarmónica de Guayaquil</span><br />
<u>Lugar</u>: Puerto Santa Ana</p>
  <p><strong>Viernes 17 de mayo / 19h00</strong><br />
Camila Pérez<br />
<u>Lugar</u>: Museo Municipal de Guayaquil
</p>
  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm-white">02 <br />CAPÍTULO: JAZZ FUSIÓN</h2>
  <div style="border-left: 2px white solid;padding-left: 10px;">
  <p><strong>Lunes 20 de mayo / 19h00</strong><br />
Especial de improvisación fusión “ Jamming”
Armada de Juguete, Ludovico y Los Brigante<br />
<u>Lugar</u>: Museo Municipal</p>
<p><strong>21 de mayo / 19h00</strong><br />
Jazz: Lysbeth Badaraco y Erick Montiel (México)<br />
<u>Lugar</u>: Museo Municipal</p>
<p><strong>22 de mayo / 19h00</strong><br />
Blues: Andrés Noboa<br />
<u>Lugar</u>: Museo Municipal de Guayaquil</p>
  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm-white">03 <br />CAPÍTULO: MÚSICA ACADÉMICA</h2>
  <div style="border-left: 2px white solid;padding-left: 10px;">
  <p><strong>Jueves 23 de mayo / 19h00</strong><br />
Música Coral: Grupo inVIA<br />
<u>Lugar</u>: Museo Municipal</p> 
<p><strong>Viernes 24 de mayo / 19h00</strong><br />
Los nuevos compositores:
Orquesta de Cámara graduados Col. República de Francia<br />
<u>Lugar</u>: Museo Municipal</p>
<p><strong>Sábado  25 de mayo / 19h00 </strong><br />
Los nuevos compositores:
Orquesta de Cámara Fundación Arte y Saber<br />
<u>Lugar</u>: Museo Municipal</p>
  </div>
  </div>

  <div class="col col-3 leftie">
  <h2 class="league-sm-white">04 <br />CAPÍTULO: ROCK Y ELECTRÓNICA
</h2>
<div style="border-left: 2px white solid;padding-left: 10px;">
<p><strong>Jueves 30 de mayo / 19h00 </strong><br />
Música electrónica: Reydel Allegues, Marcjack<br />
<u>Lugar</u>: Plaza Colon</p>
<p><strong>Viernes 31 de mayo / 19h00</strong><br />
Rock del Puerto: Armada de Juguete, Ludovico y Los Brigante<br />
<u>Lugar</u>: Plaza Colón</p>
  </div>
  </div>
</div>

<div class="row" style="padding: 0 3em 2em 3em;">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">ENTRADA LIBRE A TODOS LOS CONCIERTOS</h2>
  </div>
</div>


</div><!-- end id musmus -->

{{ content }}

<figure  class='full-width' style="margin-bottom:0 !important;">
  <img class="wide" src="/assets/mapio-mmdg.svg" />
</figure>

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/kube.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
        <script src="/js/heritage.js"></script>
        <script src="/js/jquery-modal-video.min.js"></script>
  <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>
  <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
  </script>
  <script>
		$(".js-video-button").modalVideo({
			youtube:{
				controls:0,
				nocookie: true
			}
		});
	</script>
  <script>
    $(document).ready( function(){
  $('#mid-menu .it').each(function(){
    var max = 360,
        hue = Math.floor(Math.random() * max),
        half = hue - 180;
    $(this).find('.background-gradient').css({ backgroundImage: 'linear-gradient(45deg,hsl('+hue+',75%,50%) 0%,hsl('+half+',75%,50%) 100%)' });
    var $title = $(this).find('.informax .titulado');
    if ( $title.text().length > 35 ) {
      $title.text( $title.text().substring(0,35) + '...' );
    }
    var $p = $(this).find('.informax p');
    if ( $p.text().length > 100 ) {
      $p.text( $p.text().substring(0,100) + '...' );
    }
    var content = $(this).find('.informax .content-mid').outerHeight();
    $(this).find('.informax').css('bottom','-'+content+'px');
  });
});
  </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100191210-1', 'auto');
  ga('send', 'pageview');
      </script>

    </body>
</html>
