<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header-post.html %}
    {% include post-header.html %}

<div class="main">
<article>

    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta subtitle">Publicado por <a href="/">Fernando</a>: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    <br/>

    {{ content }}

    {% include form.html %}


</article>

</div>

   {% include footer.html %}

<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>
<script src="/JS/blog.js"></script>

</body>

</html>
