<div class="tca-bg">
  <div class="row">
    <div class="col col-12">
      <a href="//www.teatrocentrodearte.org/"><img class="tca" src="/assets/tca-white.svg"/></a>
      <h3 style="color:rgba(255,255,255,.7);">SALÓN DE <span style="font-weight:400;">JÓVENES </span>VALORES</h3>
      <p>¡Si eres un artista en potencia y estás emergiendo en el mundo de la pintura, inscríbete!</p>
      <p>Inscripciones abiertas a partir del 1 de mayo hasta el 31 de julio de 2020.<br />MÁS INFORMACIÓN EN NUESTRO SITIO OFICIAL</p>
      <p><a href="//www.teatrocentrodearte.org/" class="button outline" role="button"> <i class="fa fa-globe"></i> Sitio oficial</a></p>
      <!-- <figure  class='full-width' style="margin-bottom:0 !important;mix-blend-mode:ligthen;">
        <img class="wide" src="/assets/paint-palette.svg" />
      </figure> -->
    </div>
  </div>
</div>
